pipeline/Bulkload-BisleriUAT to QDIUAT.json
{
	"name": "Bulkload-BisleriUAT to QDIUAT",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select \r\n    --TABLE_SCHEMA,\r\n    --SUBSTRING(TABLE_NAME,1,len(TABLE_NAME)) as trim_TABLE_NAME,\r\n    --LTRIM(TABLE_NAME) as trim_TABLE_NAME,\r\n    replace(RIGHT(TABLE_NAME, len(TABLE_NAME) -7),'$','_') as TABLE_NAME\r\nFROM  INFORMATION_SCHEMA.TABLES\r\nwhere \r\n--TABLE_TYPE = 'BASE TABLE' and \r\nTABLE_SCHEMA = 'dbo' and \r\nTABLE_NAME like '%Location' \r\nand TABLE_NAME not in ('BIPL - HO$Sales Shipment Header', 'BIPL-  IND AS$Sales Shipment Header', \r\n'BIPL - INVESTMENT$Sales Shipment Header')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Bisleriuatdatasetitem",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Bisleriuatdatasetitem",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "itemdataset",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "itemdataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "bilseriqdiitem",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@activity('Copy data1').output",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"annotations": []
	}
}