pipeline/Bulkload-BisleriUAT to azuresql.json
{
	"name": "Bulkload-BisleriUAT to azuresql",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select \r\n    TABLE_SCHEMA,\r\n    --SUBSTRING(TABLE_NAME,1,len(TABLE_NAME)) as trim_TABLE_NAME,\r\n    --LTRIM(TABLE_NAME) as trim_TABLE_NAME,\r\n    --replace(RIGHT(TABLE_NAME, len(TABLE_NAME) -7),'$','_') as \r\n    TABLE_NAME\r\nFROM INFORMATION_SCHEMA.TABLES\r\nwhere\r\nTABLE_SCHEMA = 'dbo' and \r\nTABLE_NAME like '%$Sales hierarchy' \r\nand TABLE_NAME not in ('BIPL - HO$Sales hierarchy', 'BIPL-  IND AS$Sales hierarchy', 'BIPL-  DELHI(HO) $Sales hierarchy',\r\n'BIPL - INVESTMENT$Sales hierarchy','BIPL - SHAHIBABAD$Sales hierarchy')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable19bisleriUAT",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Bisleriuatdatasetitem",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().TABLE_SCHEMA",
											"type": "Expression"
										},
										"table": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "itemdataset",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}