pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'AP' as Site_Code\r\nFROM [dbo].[BIPL - ANDHRA PRADESH$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'CHE' as Site_Code\r\nFROM [dbo].[BIPL - CHENNAI$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'CG' as Site_Code\r\nFROM [dbo].[BIPL - CHHATTISGARH$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'DEL' as Site_Code\r\nFROM [dbo].[BIPL - DELHI$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'GOA' as Site_Code\r\nFROM [dbo].[BIPL - GOA$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'GJ' as Site_Code\r\nFROM [dbo].[BIPL - GUJARAT$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'HR' as Site_Code\r\nFROM [dbo].[BIPL - HARYANA$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'JP' as Site_Code\r\nFROM [dbo].[BIPL - JAIPUR$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'KMST' as Site_Code\r\nFROM [dbo].[BIPL - KAMSHET$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'KAR' as Site_Code\r\nFROM [dbo].[BIPL - KARNATAKA$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'KR' as Site_Code\r\nFROM [dbo].[BIPL - KERALA$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'MP' as Site_Code\r\nFROM [dbo].[BIPL - MADHYAPRADESH$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'MUM' as Site_Code\r\nFROM [dbo].[BIPL - MUMBAI$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'ODSH' as Site_Code\r\nFROM [dbo].[BIPL - ODISHA$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'PUN' as Site_Code\r\nFROM [dbo].[BIPL - PUNE$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'PUB' as Site_Code\r\nFROM [dbo].[BIPL - PUNJAB$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'RUDR' as Site_Code\r\nFROM [dbo].[BIPL - RUDRAPUR$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'SHD' as Site_Code\r\nFROM [dbo].[BIPL – SAHIBABAD$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'TEL' as Site_Code\r\nFROM [dbo].[BIPL - TELANGANA$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'WB' as Site_Code\r\nFROM [dbo].[BIPL - WESTBENGAL$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2020\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Stage1_Sales_Shipment_Header",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SqlServerTable2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "\nselect a.* from [dbo].[sales_shipment_header] a left join [dbo].[watermark] b on a.Site_Code = b.Site_Code \nwhere a.[Last Modified On] > b.Last_Modified_On",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerTable2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Copy data2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText2",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"activities": [
						{
							"name": "Get Metadata2",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DelimitedText3",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"latestfile": {
				"type": "String"
			},
			"refdatetime": {
				"type": "String",
				"defaultValue": "1900-01-01 00:00:00"
			}
		},
		"annotations": []
	}
}