pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "FileName",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select \r\n\tDistinct\r\n\tTABLE_NAME\r\nfrom \r\nINFORMATION_SCHEMA.COLUMNS\r\nwhere TABLE_NAME = 'Sales hierarchy'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Stage1_Sales_Hierarchy_D",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableName",
					"value": {
						"value": "@activity('FileName').output.firstRow.TABLE_NAME",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stage1_Sales_Hierarchy_Master",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select\r\n[Territory Code],\r\n[Area Code],\r\n[Branch Code],\r\n[Zone Code],\r\n[National Code],\r\n[National Name],\r\n[Region Code],\r\n[Region Name],\r\n[Regional Sales Head Name],\r\n[Branch Name],\r\n[Branch Sales Head Name],\r\n[Zone Name],\r\n[Sales Manager Name],\r\n[Area Name],\r\n[Area Sales Manager Name],\r\n[Territory Name],\r\n[Sales Executive Name],\r\n[Division Name],\r\n[SE Code],\r\n[Channel],\r\n[Business Unit],\r\n'10001' as Site_Code\r\nFROM [dbo].[BIPL - ANDHRA PRADESH$Sales hierarchy]\r\nUNION ALL\r\nSelect\r\n[Territory Code],\r\n[Area Code],\r\n[Branch Code],\r\n[Zone Code],\r\n[National Code],\r\n[National Name],\r\n[Region Code],\r\n[Region Name],\r\n[Regional Sales Head Name],\r\n[Branch Name],\r\n[Branch Sales Head Name],\r\n[Zone Name],\r\n[Sales Manager Name],\r\n[Area Name],\r\n[Area Sales Manager Name],\r\n[Territory Name],\r\n[Sales Executive Name],\r\n[Division Name],\r\n[SE Code],\r\n[Channel],\r\n[Business Unit],\r\n'10002' as Site_Code\r\nFROM [dbo].[BIPL - CHENNAI$Sales hierarchy]\r\nUNION ALL\r\nSelect\r\n[Territory Code],\r\n[Area Code],\r\n[Branch Code],\r\n[Zone Code],\r\n[National Code],\r\n[National Name],\r\n[Region Code],\r\n[Region Name],\r\n[Regional Sales Head Name],\r\n[Branch Name],\r\n[Branch Sales Head Name],\r\n[Zone Name],\r\n[Sales Manager Name],\r\n[Area Name],\r\n[Area Sales Manager Name],\r\n[Territory Name],\r\n[Sales Executive Name],\r\n[Division Name],\r\n[SE Code],\r\n[Channel],\r\n[Business Unit],\r\n'10003' as Site_Code\r\nFROM [dbo].[BIPL - CHHATTISGARH$Sales hierarchy]\r\nUNION ALL\r\nSelect\r\n[Territory Code],\r\n[Area Code],\r\n[Branch Code],\r\n[Zone Code],\r\n[National Code],\r\n[National Name],\r\n[Region Code],\r\n[Region Name],\r\n[Regional Sales Head Name],\r\n[Branch Name],\r\n[Branch Sales Head Name],\r\n[Zone Name],\r\n[Sales Manager Name],\r\n[Area Name],\r\n[Area Sales Manager Name],\r\n[Territory Name],\r\n[Sales Executive Name],\r\n[Division Name],\r\n[SE Code],\r\n[Channel],\r\n[Business Unit],\r\n'10004' as Site_Code\r\nFROM [dbo].[BIPL - DELHI$Sales hierarchy]\r\nUNION ALL\r\nSelect\r\n[Territory Code],\r\n[Area Code],\r\n[Branch Code],\r\n[Zone Code],\r\n[National Code],\r\n[National Name],\r\n[Region Code],\r\n[Region Name],\r\n[Regional Sales Head Name],\r\n[Branch Name],\r\n[Branch Sales Head Name],\r\n[Zone Name],\r\n[Sales Manager Name],\r\n[Area Name],\r\n[Area Sales Manager Name],\r\n[Territory Name],\r\n[Sales Executive Name],\r\n[Division Name],\r\n[SE Code],\r\n[Channel],\r\n[Business Unit],\r\n'10005' as Site_Code\r\nFROM [dbo].[BIPL - GOA$Sales hierarchy]\r\nUNION ALL\r\nSelect\r\n[Territory Code],\r\n[Area Code],\r\n[Branch Code],\r\n[Zone Code],\r\n[National Code],\r\n[National Name],\r\n[Region Code],\r\n[Region Name],\r\n[Regional Sales Head Name],\r\n[Branch Name],\r\n[Branch Sales Head Name],\r\n[Zone Name],\r\n[Sales Manager Name],\r\n[Area Name],\r\n[Area Sales Manager Name],\r\n[Territory Name],\r\n[Sales Executive Name],\r\n[Division Name],\r\n[SE Code],\r\n[Channel],\r\n[Business Unit],\r\n'10006' as Site_Code\r\nFROM [dbo].[BIPL - GUJARAT$Sales hierarchy]\r\nUNION ALL\r\nSelect\r\n[Territory Code],\r\n[Area Code],\r\n[Branch Code],\r\n[Zone Code],\r\n[National Code],\r\n[National Name],\r\n[Region Code],\r\n[Region Name],\r\n[Regional Sales Head Name],\r\n[Branch Name],\r\n[Branch Sales Head Name],\r\n[Zone Name],\r\n[Sales Manager Name],\r\n[Area Name],\r\n[Area Sales Manager Name],\r\n[Territory Name],\r\n[Sales Executive Name],\r\n[Division Name],\r\n[SE Code],\r\n[Channel],\r\n[Business Unit],\r\n'10007' as Site_Code\r\nFROM [dbo].[BIPL - HARYANA$Sales hierarchy]\r\nUNION ALL\r\nSelect\r\n[Territory Code],\r\n[Area Code],\r\n[Branch Code],\r\n[Zone Code],\r\n[National Code],\r\n[National Name],\r\n[Region Code],\r\n[Region Name],\r\n[Regional Sales Head Name],\r\n[Branch Name],\r\n[Branch Sales Head Name],\r\n[Zone Name],\r\n[Sales Manager Name],\r\n[Area Name],\r\n[Area Sales Manager Name],\r\n[Territory Name],\r\n[Sales Executive Name],\r\n[Division Name],\r\n[SE Code],\r\n[Channel],\r\n[Business Unit],\r\n'10009' as Site_Code\r\nFROM [dbo].[BIPL - JAIPUR$Sales hierarchy]\r\nUNION ALL\r\nSelect\r\n[Territory Code],\r\n[Area Code],\r\n[Branch Code],\r\n[Zone Code],\r\n[National Code],\r\n[National Name],\r\n[Region Code],\r\n[Region Name],\r\n[Regional Sales Head Name],\r\n[Branch Name],\r\n[Branch Sales Head Name],\r\n[Zone Name],\r\n[Sales Manager Name],\r\n[Area Name],\r\n[Area Sales Manager Name],\r\n[Territory Name],\r\n[Sales Executive Name],\r\n[Division Name],\r\n[SE Code],\r\n[Channel],\r\n[Business Unit],\r\n'10010' as Site_Code\r\nFROM [dbo].[BIPL - KAMSHET$Sales hierarchy]\r\nUNION ALL\r\nSelect\r\n[Territory Code],\r\n[Area Code],\r\n[Branch Code],\r\n[Zone Code],\r\n[National Code],\r\n[National Name],\r\n[Region Code],\r\n[Region Name],\r\n[Regional Sales Head Name],\r\n[Branch Name],\r\n[Branch Sales Head Name],\r\n[Zone Name],\r\n[Sales Manager Name],\r\n[Area Name],\r\n[Area Sales Manager Name],\r\n[Territory Name],\r\n[Sales Executive Name],\r\n[Division Name],\r\n[SE Code],\r\n[Channel],\r\n[Business Unit],\r\n'10011' as Site_Code\r\nFROM [dbo].[BIPL - KARNATAKA$Sales hierarchy]\r\nUNION ALL\r\nSelect\r\n[Territory Code],\r\n[Area Code],\r\n[Branch Code],\r\n[Zone Code],\r\n[National Code],\r\n[National Name],\r\n[Region Code],\r\n[Region Name],\r\n[Regional Sales Head Name],\r\n[Branch Name],\r\n[Branch Sales Head Name],\r\n[Zone Name],\r\n[Sales Manager Name],\r\n[Area Name],\r\n[Area Sales Manager Name],\r\n[Territory Name],\r\n[Sales Executive Name],\r\n[Division Name],\r\n[SE Code],\r\n[Channel],\r\n[Business Unit],\r\n'10012' as Site_Code\r\nFROM [dbo].[BIPL - KERALA$Sales hierarchy]\r\nUNION ALL\r\nSelect\r\n[Territory Code],\r\n[Area Code],\r\n[Branch Code],\r\n[Zone Code],\r\n[National Code],\r\n[National Name],\r\n[Region Code],\r\n[Region Name],\r\n[Regional Sales Head Name],\r\n[Branch Name],\r\n[Branch Sales Head Name],\r\n[Zone Name],\r\n[Sales Manager Name],\r\n[Area Name],\r\n[Area Sales Manager Name],\r\n[Territory Name],\r\n[Sales Executive Name],\r\n[Division Name],\r\n[SE Code],\r\n[Channel],\r\n[Business Unit],\r\n'10013' as Site_Code\r\nFROM [dbo].[BIPL - MADHYAPRADESH$Sales hierarchy]\r\nUNION ALL\r\nSelect\r\n[Territory Code],\r\n[Area Code],\r\n[Branch Code],\r\n[Zone Code],\r\n[National Code],\r\n[National Name],\r\n[Region Code],\r\n[Region Name],\r\n[Regional Sales Head Name],\r\n[Branch Name],\r\n[Branch Sales Head Name],\r\n[Zone Name],\r\n[Sales Manager Name],\r\n[Area Name],\r\n[Area Sales Manager Name],\r\n[Territory Name],\r\n[Sales Executive Name],\r\n[Division Name],\r\n[SE Code],\r\n[Channel],\r\n[Business Unit],\r\n'10014' as Site_Code\r\nFROM [dbo].[BIPL - MUMBAI$Sales hierarchy]\r\nUNION ALL\r\nSelect\r\n[Territory Code],\r\n[Area Code],\r\n[Branch Code],\r\n[Zone Code],\r\n[National Code],\r\n[National Name],\r\n[Region Code],\r\n[Region Name],\r\n[Regional Sales Head Name],\r\n[Branch Name],\r\n[Branch Sales Head Name],\r\n[Zone Name],\r\n[Sales Manager Name],\r\n[Area Name],\r\n[Area Sales Manager Name],\r\n[Territory Name],\r\n[Sales Executive Name],\r\n[Division Name],\r\n[SE Code],\r\n[Channel],\r\n[Business Unit],\r\n'10015' as Site_Code\r\nFROM [dbo].[BIPL - ODISHA$Sales hierarchy]\r\nUNION ALL\r\nSelect\r\n[Territory Code],\r\n[Area Code],\r\n[Branch Code],\r\n[Zone Code],\r\n[National Code],\r\n[National Name],\r\n[Region Code],\r\n[Region Name],\r\n[Regional Sales Head Name],\r\n[Branch Name],\r\n[Branch Sales Head Name],\r\n[Zone Name],\r\n[Sales Manager Name],\r\n[Area Name],\r\n[Area Sales Manager Name],\r\n[Territory Name],\r\n[Sales Executive Name],\r\n[Division Name],\r\n[SE Code],\r\n[Channel],\r\n[Business Unit],\r\n'10016' as Site_Code\r\nFROM [dbo].[BIPL - PUNE$Sales hierarchy]\r\nUNION ALL\r\nSelect\r\n[Territory Code],\r\n[Area Code],\r\n[Branch Code],\r\n[Zone Code],\r\n[National Code],\r\n[National Name],\r\n[Region Code],\r\n[Region Name],\r\n[Regional Sales Head Name],\r\n[Branch Name],\r\n[Branch Sales Head Name],\r\n[Zone Name],\r\n[Sales Manager Name],\r\n[Area Name],\r\n[Area Sales Manager Name],\r\n[Territory Name],\r\n[Sales Executive Name],\r\n[Division Name],\r\n[SE Code],\r\n[Channel],\r\n[Business Unit],\r\n'10017' as Site_Code\r\nFROM [dbo].[BIPL - PUNJAB$Sales hierarchy]\r\nUNION ALL\r\nSelect\r\n[Territory Code],\r\n[Area Code],\r\n[Branch Code],\r\n[Zone Code],\r\n[National Code],\r\n[National Name],\r\n[Region Code],\r\n[Region Name],\r\n[Regional Sales Head Name],\r\n[Branch Name],\r\n[Branch Sales Head Name],\r\n[Zone Name],\r\n[Sales Manager Name],\r\n[Area Name],\r\n[Area Sales Manager Name],\r\n[Territory Name],\r\n[Sales Executive Name],\r\n[Division Name],\r\n[SE Code],\r\n[Channel],\r\n[Business Unit],\r\n'10018' as Site_Code\r\nFROM [dbo].[BIPL - RUDRAPUR$Sales hierarchy]\r\nUNION ALL\r\nSelect\r\n[Territory Code],\r\n[Area Code],\r\n[Branch Code],\r\n[Zone Code],\r\n[National Code],\r\n[National Name],\r\n[Region Code],\r\n[Region Name],\r\n[Regional Sales Head Name],\r\n[Branch Name],\r\n[Branch Sales Head Name],\r\n[Zone Name],\r\n[Sales Manager Name],\r\n[Area Name],\r\n[Area Sales Manager Name],\r\n[Territory Name],\r\n[Sales Executive Name],\r\n[Division Name],\r\n[SE Code],\r\n[Channel],\r\n[Business Unit],\r\n'10019' as Site_Code\r\nFROM [dbo].[BIPL – SAHIBABAD$Sales hierarchy]\r\nUNION ALL\r\nSelect\r\n[Territory Code],\r\n[Area Code],\r\n[Branch Code],\r\n[Zone Code],\r\n[National Code],\r\n[National Name],\r\n[Region Code],\r\n[Region Name],\r\n[Regional Sales Head Name],\r\n[Branch Name],\r\n[Branch Sales Head Name],\r\n[Zone Name],\r\n[Sales Manager Name],\r\n[Area Name],\r\n[Area Sales Manager Name],\r\n[Territory Name],\r\n[Sales Executive Name],\r\n[Division Name],\r\n[SE Code],\r\n[Channel],\r\n[Business Unit],\r\n'10020' as Site_Code\r\nFROM [dbo].[BIPL - TELANGANA$Sales hierarchy]\r\nUNION ALL\r\nSelect\r\n[Territory Code],\r\n[Area Code],\r\n[Branch Code],\r\n[Zone Code],\r\n[National Code],\r\n[National Name],\r\n[Region Code],\r\n[Region Name],\r\n[Regional Sales Head Name],\r\n[Branch Name],\r\n[Branch Sales Head Name],\r\n[Zone Name],\r\n[Sales Manager Name],\r\n[Area Name],\r\n[Area Sales Manager Name],\r\n[Territory Name],\r\n[Sales Executive Name],\r\n[Division Name],\r\n[SE Code],\r\n[Channel],\r\n[Business Unit],\r\n'10021' as Site_Code\r\nFROM [dbo].[BIPL - WESTBENGAL$Sales hierarchy]\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Stage1_Sales_Hierarchy_D",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Stage1_Sales_Hierarchy_Sink_D",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"Table Name": {
				"type": "String"
			},
			"TableName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}