pipeline/pipeline3.json
{
	"name": "pipeline3",
	"properties": {
		"activities": [
			{
				"name": "Lookup2",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DelimitedText17",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup2').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(int(item().Active_Inactive),0)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable4",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "entity",
											"value": {
												"value": "@item().Entity",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Set variable7",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "select @{pipeline().parameters.Colnames},@{variables('new_columns')} as Site_Code from @{concat('[',item().Entity,pipeline().parameters.tblName,']')}",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "SqlServerTable15",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DelimitedText19",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Set variable6",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set variable4",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "new_columns",
											"value": {
												"value": "@item().Entity_Code",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable7",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set variable6",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "query2",
											"value": {
												"value": "select @{pipeline().parameters.Colnames},@{variables('new_columns')} as Site_Code from @{concat('[',item().Entity,pipeline().parameters.tblName,']')}",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"tblName": {
				"type": "string",
				"defaultValue": "sales_shipment_header"
			},
			"Colnames": {
				"type": "string",
				"defaultValue": "[No_],[ECOM]"
			}
		},
		"variables": {
			"tblname": {
				"type": "String"
			},
			"tbln": {
				"type": "String"
			},
			"entity": {
				"type": "String"
			},
			"query2": {
				"type": "String"
			},
			"new_columns": {
				"type": "String"
			}
		},
		"annotations": []
	}
}