pipeline/pipeline3_copy1.json
{
	"name": "pipeline3_copy1",
	"properties": {
		"activities": [
			{
				"name": "Lookup2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable9",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DelimitedText17",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup2').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(int(item().Active_Inactive),0)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable4",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "entity",
											"value": {
												"value": "@item().Entity",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable6",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set variable4",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "new_columns",
											"value": {
												"value": "@item().Entity_Code",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable7",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set variable6",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "query2",
											"value": {
												"value": "select @{pipeline().parameters.Colnames},@{variables('new_columns')} as Site_Code from @{concat('[',item().Entity,pipeline().parameters.tblName,']')}",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable8",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set variable7",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "entity_table",
											"value": {
												"value": "@{concat('[',item().Entity,pipeline().parameters.tblName,']')}",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Lookup3",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Set variable8",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "\nDECLARE @s VARCHAR(MAX) \n\nDECLARE @tablename VARCHAR(500) ='BIPL - ANDHRA PRADESH$sales_shipment_header' \n\nSELECT @s = ISNULL(@s+', ','') + '[' + c.name + ']' + ' as ['+replace(c.name,' ','')+'] ' \n\nFROM sys.all_columns c join sys.tables t \n\nON c.object_id = t.object_id \n\nWHERE t.name = @tablename \n\nselect 'select ' + REPLACE(REPLACE( @s, '(', ''),')','') + ',''@{item().Entity_Code}'' as site_code1 from [' + @tablename +']' as Query",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "SqlServerTable15",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "Append variable1",
										"type": "AppendVariable",
										"dependsOn": [
											{
												"activity": "Lookup3",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "union_query",
											"value": {
												"value": "@activity('Lookup3').output.firstRow.Query",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable10",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Append variable1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "final query",
											"value": {
												"value": "@join(variables('union_query'), ' UNION ALL ')",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Set variable9",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "union_query",
					"value": [
						"@[]"
					]
				}
			}
		],
		"parameters": {
			"tblName": {
				"type": "string",
				"defaultValue": "sales_shipment_header"
			},
			"Colnames": {
				"type": "string",
				"defaultValue": "[No_],[ECOM]"
			}
		},
		"variables": {
			"tblname": {
				"type": "String"
			},
			"tbln": {
				"type": "String"
			},
			"entity": {
				"type": "String"
			},
			"query2": {
				"type": "String"
			},
			"new_columns": {
				"type": "String"
			},
			"entity_table": {
				"type": "String"
			},
			"union_query": {
				"type": "Array"
			},
			"final query": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Aaryan_Pipelines"
		},
		"annotations": []
	}
}