pipeline/ReadParquet.json
{
	"name": "ReadParquet",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DelimitedText20",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ParquetColumns",
					"value": {
						"value": "@activity('Lookup1').output.firstRow.Columns",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "ParquetRead",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Loc_Key",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Loc_Key",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Location_Code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Location_Code",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Location_Name",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Location_Name",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Address",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Address",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Address_2",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Address_2",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "City",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "City",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Phone_No",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Phone_No",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Phone_No_2",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Phone_No_2",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Post_Code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Post_Code",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "County",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "County",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "E_Mail",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "E_Mail",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Country_Region_Code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Country_Region_Code",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Use_As_In_Transit",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Use_As_In_Transit",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "Require_Put_away",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Require_Put_away",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "Require_Pick",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Require_Pick",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "Use_Cross_Docking",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Use_Cross_Docking",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "Require_Receive",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Require_Receive",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "Require_Shipment",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Require_Shipment",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "State_Code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "State_Code",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Subcontracting_Location",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Subcontracting_Location",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "Subcontractor_No",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Subcontractor_No",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Depot",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Depot",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "Site_Code",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Site_Code",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "site_code",
									"type": "String",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "site_code",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Parquet6",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet6",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"ParquetColumns": {
				"type": "String",
				"defaultValue": "a"
			}
		},
		"annotations": []
	}
}