pipeline/SSH_Incre_Load_copy1.json
{
	"name": "SSH_Incre_Load_copy1",
	"properties": {
		"activities": [
			{
				"name": "Incre-Load",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Newlookup",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "WatermarkTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "with cte as\n(\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\t[Ship-to Name],\n\t[Ship-to Address],\n\t[Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'AP' as Site_Code\nFROM [dbo].[BIPL - ANDHRA PRADESH$Sales Shipment Header]\nwhere year([Posting Date]) >= 2021\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\t[Ship-to Name],\n\t[Ship-to Address],\n\t[Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'CHE' as Site_Code\nFROM [dbo].[BIPL - CHENNAI$Sales Shipment Header]\nwhere year([Posting Date]) >= 2021\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\t[Ship-to Name],\n\t[Ship-to Address],\n\t[Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'CG' as Site_Code\nFROM [dbo].[BIPL - CHHATTISGARH$Sales Shipment Header]\nwhere year([Posting Date]) >= 2021\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\t[Ship-to Name],\n\t[Ship-to Address],\n\t[Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'DEL' as Site_Code\nFROM [dbo].[BIPL - DELHI$Sales Shipment Header]\nwhere year([Posting Date]) >= 2021\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\t[Ship-to Name],\n\t[Ship-to Address],\n\t[Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'GOA' as Site_Code\nFROM [dbo].[BIPL - GOA$Sales Shipment Header]\nwhere year([Posting Date]) >= 2021\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\t[Ship-to Name],\n\t[Ship-to Address],\n\t[Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'GJ' as Site_Code\nFROM [dbo].[BIPL - GUJARAT$Sales Shipment Header]\nwhere year([Posting Date]) >= 2021\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\t[Ship-to Name],\n\t[Ship-to Address],\n\t[Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'HR' as Site_Code\nFROM [dbo].[BIPL - HARYANA$Sales Shipment Header]\nwhere year([Posting Date]) >= 2021\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\t[Ship-to Name],\n\t[Ship-to Address],\n\t[Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'JP' as Site_Code\nFROM [dbo].[BIPL - JAIPUR$Sales Shipment Header]\nwhere year([Posting Date]) >= 2021\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\t[Ship-to Name],\n\t[Ship-to Address],\n\t[Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'KMST' as Site_Code\nFROM [dbo].[BIPL - KAMSHET$Sales Shipment Header]\nwhere year([Posting Date]) >= 2021\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\t[Ship-to Name],\n\t[Ship-to Address],\n\t[Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'KAR' as Site_Code\nFROM [dbo].[BIPL - KARNATAKA$Sales Shipment Header]\nwhere year([Posting Date]) >= 2021\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\t[Ship-to Name],\n\t[Ship-to Address],\n\t[Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'KR' as Site_Code\nFROM [dbo].[BIPL - KERALA$Sales Shipment Header]\nwhere year([Posting Date]) >= 2021\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\t[Ship-to Name],\n\t[Ship-to Address],\n\t[Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'MP' as Site_Code\nFROM [dbo].[BIPL - MADHYAPRADESH$Sales Shipment Header]\nwhere year([Posting Date]) >= 2021\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\t[Ship-to Name],\n\t[Ship-to Address],\n\t[Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'MUM' as Site_Code\nFROM [dbo].[BIPL - MUMBAI$Sales Shipment Header]\nwhere year([Posting Date]) >= 2021\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\t[Ship-to Name],\n\t[Ship-to Address],\n\t[Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'ODSH' as Site_Code\nFROM [dbo].[BIPL - ODISHA$Sales Shipment Header]\nwhere year([Posting Date]) >= 2021\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\t[Ship-to Name],\n\t[Ship-to Address],\n\t[Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'PUN' as Site_Code\nFROM [dbo].[BIPL - PUNE$Sales Shipment Header]\nwhere year([Posting Date]) >= 2021\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\t[Ship-to Name],\n\t[Ship-to Address],\n\t[Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'PUB' as Site_Code\nFROM [dbo].[BIPL - PUNJAB$Sales Shipment Header]\nwhere year([Posting Date]) >= 2021\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\t[Ship-to Name],\n\t[Ship-to Address],\n\t[Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'RUDR' as Site_Code\nFROM [dbo].[BIPL - RUDRAPUR$Sales Shipment Header]\nwhere year([Posting Date]) >= 2021\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\t[Ship-to Name],\n\t[Ship-to Address],\n\t[Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'SHD' as Site_Code\nFROM [dbo].[BIPL – SAHIBABAD$Sales Shipment Header]\nwhere year([Posting Date]) >= 2021\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\t[Ship-to Name],\n\t[Ship-to Address],\n\t[Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'TEL' as Site_Code\nFROM [dbo].[BIPL - TELANGANA$Sales Shipment Header]\nwhere year([Posting Date]) >= 2021\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\t[Ship-to Name],\n\t[Ship-to Address],\n\t[Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'WB' as Site_Code\nFROM [dbo].[BIPL - WESTBENGAL$Sales Shipment Header]\nwhere year([Posting Date]) >= 2021\n) \nSelect * from cte \nwhere \n\tcte.Site_Code = '@{activity('WatermarkTable').output.resultSets[0].rows[0].Site_Code}'\n\tand \n\tcte.[Last Modified On] > '@{activity('WatermarkTable').output.resultSets[0].rows[0].Last_Modified_Date}' \n\tand \n\tand cte.[Last_Modified_On] <= '@{activity('Newlookup').output.resultSets[0].rows[0].Last_Modified_On}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Stage1_Sales_Shipment_Header",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SSH_Incre_Folder",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Newlookup",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "BisleriServer",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "\r\nwith cte as\r\n\r\n(SELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\t[Ship-to Name],\r\n\t[Ship-to Address],\r\n\t[Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'AP' as Site_Code\r\nFROM [dbo].[BIPL - ANDHRA PRADESH$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\t[Ship-to Name],\r\n\t[Ship-to Address],\r\n\t[Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'CHE' as Site_Code\r\nFROM [dbo].[BIPL - CHENNAI$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\t[Ship-to Name],\r\n\t[Ship-to Address],\r\n\t[Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'CG' as Site_Code\r\nFROM [dbo].[BIPL - CHHATTISGARH$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\t[Ship-to Name],\r\n\t[Ship-to Address],\r\n\t[Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'DEL' as Site_Code\r\nFROM [dbo].[BIPL - DELHI$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\t[Ship-to Name],\r\n\t[Ship-to Address],\r\n\t[Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'GOA' as Site_Code\r\nFROM [dbo].[BIPL - GOA$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\t[Ship-to Name],\r\n\t[Ship-to Address],\r\n\t[Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'GJ' as Site_Code\r\nFROM [dbo].[BIPL - GUJARAT$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\t[Ship-to Name],\r\n\t[Ship-to Address],\r\n\t[Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'HR' as Site_Code\r\nFROM [dbo].[BIPL - HARYANA$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\t[Ship-to Name],\r\n\t[Ship-to Address],\r\n\t[Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'JP' as Site_Code\r\nFROM [dbo].[BIPL - JAIPUR$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\t[Ship-to Name],\r\n\t[Ship-to Address],\r\n\t[Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'KMST' as Site_Code\r\nFROM [dbo].[BIPL - KAMSHET$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\t[Ship-to Name],\r\n\t[Ship-to Address],\r\n\t[Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'KAR' as Site_Code\r\nFROM [dbo].[BIPL - KARNATAKA$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\t[Ship-to Name],\r\n\t[Ship-to Address],\r\n\t[Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'KR' as Site_Code\r\nFROM [dbo].[BIPL - KERALA$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\t[Ship-to Name],\r\n\t[Ship-to Address],\r\n\t[Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'MP' as Site_Code\r\nFROM [dbo].[BIPL - MADHYAPRADESH$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\t[Ship-to Name],\r\n\t[Ship-to Address],\r\n\t[Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'MUM' as Site_Code\r\nFROM [dbo].[BIPL - MUMBAI$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\t[Ship-to Name],\r\n\t[Ship-to Address],\r\n\t[Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'ODSH' as Site_Code\r\nFROM [dbo].[BIPL - ODISHA$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\t[Ship-to Name],\r\n\t[Ship-to Address],\r\n\t[Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'PUN' as Site_Code\r\nFROM [dbo].[BIPL - PUNE$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\t[Ship-to Name],\r\n\t[Ship-to Address],\r\n\t[Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'PUB' as Site_Code\r\nFROM [dbo].[BIPL - PUNJAB$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\t[Ship-to Name],\r\n\t[Ship-to Address],\r\n\t[Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'RUDR' as Site_Code\r\nFROM [dbo].[BIPL - RUDRAPUR$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\t[Ship-to Name],\r\n\t[Ship-to Address],\r\n\t[Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'SHD' as Site_Code\r\nFROM [dbo].[BIPL – SAHIBABAD$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\t[Ship-to Name],\r\n\t[Ship-to Address],\r\n\t[Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'TEL' as Site_Code\r\nFROM [dbo].[BIPL - TELANGANA$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\t[Ship-to Name],\r\n\t[Ship-to Address],\r\n\t[Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'WB' as Site_Code\r\nFROM [dbo].[BIPL - WESTBENGAL$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\n) \r\nSelect max([Last Modified On]) as Last_Modified_On, Site_Code from cte\r\ngroup by Site_Code \r\norder by Site_Code asc;"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "WatermarkTable",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SqlServerOnPrem",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT \n      [TableName],\n      [Last_Modified_Date],\n      Site_Code\nFROM [dbo].[watermarktableforSSH];",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"annotations": []
	}
}