pipeline/Stage1_2_3_Route_Master.json
{
	"name": "Stage1_2_3_Route_Master",
	"properties": {
		"activities": [
			{
				"name": "FileName",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select * from dbo.table_name",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable13",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableName",
					"value": {
						"value": "@activity('FileName').output.firstRow.table_name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stage1_Route_Master",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select\r\n[Code],\r\n[Description],\r\n[Type],\r\n[Category],\r\n[Route category],\r\n[Route Street category],\r\n'10001' as Site_Code\r\nFROM [dbo].[BIPL - ANDHRA PRADESH$Bisleri Common master]\r\nWHERE [Code Type]=30\r\nUNION ALL\r\nSelect\r\n[Code],\r\n[Description],\r\n[Type],\r\n[Category],\r\n[Route category],\r\n[Route Street category],\r\n'10002' as Site_Code\r\nFROM [dbo].[BIPL - CHENNAI$Bisleri Common master]\r\nWHERE [Code Type]=30\r\nUNION ALL\r\nSelect\r\n[Code],\r\n[Description],\r\n[Type],\r\n[Category],\r\n[Route category],\r\n[Route Street category],\r\n'10003' as Site_Code\r\nFROM [dbo].[BIPL - CHHATTISGARH$Bisleri Common master]\r\nWHERE [Code Type]=30\r\nUNION ALL\r\nSelect\r\n[Code],\r\n[Description],\r\n[Type],\r\n[Category],\r\n[Route category],\r\n[Route Street category],\r\n'10004' as Site_Code\r\nFROM [dbo].[BIPL - DELHI$Bisleri Common master]\r\nWHERE [Code Type]=30\r\nUNION ALL\r\nSelect\r\n[Code],\r\n[Description],\r\n[Type],\r\n[Category],\r\n[Route category],\r\n[Route Street category],\r\n'10005' as Site_Code\r\nFROM [dbo].[BIPL - GOA$Bisleri Common master]\r\nWHERE [Code Type]=30\r\nUNION ALL\r\nSelect\r\n[Code],\r\n[Description],\r\n[Type],\r\n[Category],\r\n[Route category],\r\n[Route Street category],\r\n'10006' as Site_Code\r\nFROM [dbo].[BIPL - GUJARAT$Bisleri Common master]\r\nWHERE [Code Type]=30\r\nUNION ALL\r\nSelect\r\n[Code],\r\n[Description],\r\n[Type],\r\n[Category],\r\n[Route category],\r\n[Route Street category],\r\n'10007' as Site_Code\r\nFROM [dbo].[BIPL - HARYANA$Bisleri Common master]\r\nWHERE [Code Type]=30\r\nUNION ALL\r\nSelect\r\n[Code],\r\n[Description],\r\n[Type],\r\n[Category],\r\n[Route category],\r\n[Route Street category],\r\n'10009' as Site_Code\r\nFROM [dbo].[BIPL - JAIPUR$Bisleri Common master]\r\nWHERE [Code Type]=30\r\nUNION ALL\r\nSelect\r\n[Code],\r\n[Description],\r\n[Type],\r\n[Category],\r\n[Route category],\r\n[Route Street category],\r\n'10010' as Site_Code\r\nFROM [dbo].[BIPL - KAMSHET$Bisleri Common master]\r\nWHERE [Code Type]=30\r\nUNION ALL\r\nSelect\r\n[Code],\r\n[Description],\r\n[Type],\r\n[Category],\r\n[Route category],\r\n[Route Street category],\r\n'10011' as Site_Code\r\nFROM [dbo].[BIPL - KARNATAKA$Bisleri Common master]\r\nWHERE [Code Type]=30\r\nUNION ALL\r\nSelect\r\n[Code],\r\n[Description],\r\n[Type],\r\n[Category],\r\n[Route category],\r\n[Route Street category],\r\n'10012' as Site_Code\r\nFROM [dbo].[BIPL - KERALA$Bisleri Common master]\r\nWHERE [Code Type]=30\r\nUNION ALL\r\nSelect\r\n[Code],\r\n[Description],\r\n[Type],\r\n[Category],\r\n[Route category],\r\n[Route Street category],\r\n'10013' as Site_Code\r\nFROM [dbo].[BIPL - MADHYAPRADESH$Bisleri Common master]\r\nWHERE [Code Type]=30\r\nUNION ALL\r\nSelect\r\n[Code],\r\n[Description],\r\n[Type],\r\n[Category],\r\n[Route category],\r\n[Route Street category],\r\n'10014' as Site_Code\r\nFROM [dbo].[BIPL - MUMBAI$Bisleri Common master]\r\nWHERE [Code Type]=30\r\nUNION ALL\r\nSelect\r\n[Code],\r\n[Description],\r\n[Type],\r\n[Category],\r\n[Route category],\r\n[Route Street category],\r\n'10015' as Site_Code\r\nFROM [dbo].[BIPL - ODISHA$Bisleri Common master]\r\nWHERE [Code Type]=30\r\nUNION ALL\r\nSelect\r\n[Code],\r\n[Description],\r\n[Type],\r\n[Category],\r\n[Route category],\r\n[Route Street category],\r\n'10016' as Site_Code\r\nFROM [dbo].[BIPL - PUNE$Bisleri Common master]\r\nWHERE [Code Type]=30\r\nUNION ALL\r\nSelect\r\n[Code],\r\n[Description],\r\n[Type],\r\n[Category],\r\n[Route category],\r\n[Route Street category],\r\n'10017' as Site_Code\r\nFROM [dbo].[BIPL - PUNJAB$Bisleri Common master]\r\nWHERE [Code Type]=30\r\nUNION ALL\r\nSelect\r\n[Code],\r\n[Description],\r\n[Type],\r\n[Category],\r\n[Route category],\r\n[Route Street category],\r\n'10018' as Site_Code\r\nFROM [dbo].[BIPL - RUDRAPUR$Bisleri Common master]\r\nWHERE [Code Type]=30\r\nUNION ALL\r\nSelect\r\n[Code],\r\n[Description],\r\n[Type],\r\n[Category],\r\n[Route category],\r\n[Route Street category],\r\n'10019' as Site_Code\r\nFROM [dbo].[BIPL – SAHIBABAD$Bisleri Common master]\r\nWHERE [Code Type]=30\r\nUNION ALL\r\nSelect\r\n[Code],\r\n[Description],\r\n[Type],\r\n[Category],\r\n[Route category],\r\n[Route Street category],\r\n'10020' as Site_Code\r\nFROM [dbo].[BIPL - TELANGANA$Bisleri Common master]\r\nWHERE [Code Type]=30\r\nUNION ALL\r\nSelect\r\n[Code],\r\n[Description],\r\n[Type],\r\n[Category],\r\n[Route category],\r\n[Route Street category],\r\n'10021' as Site_Code\r\nFROM [dbo].[BIPL - WESTBENGAL$Bisleri Common master]\r\nWHERE [Code Type]=30",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Stage1_Route_Master_D",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Stage1_Route_Master_Sink_D",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@variables('TableName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Route_Master_Folder_Delete",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Stage1_Route_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Route_Master_Folder_Delete",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "curated_data",
							"type": "LinkedServiceReference"
						},
						"path": "curated-data"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Stage2_Route_Master_DF",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Route_Master_Folder_Delete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Stage2_Route_Master",
						"type": "DataFlowReference",
						"parameters": {
							"ContainerName": "'delta-lake'",
							"FolderName": "'Master/Route_Master'",
							"Table": {
								"value": "'@{concat(variables('TableName'),'.csv')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Stage3_Route_Master_DF",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Stage2_Route_Master_DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Stage3_Route_Master_DF",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}