pipeline/Stage1_Full_Load_Sales_Shipment_Header.json
{
	"name": "Stage1_Full_Load_Sales_Shipment_Header",
	"properties": {
		"activities": [
			{
				"name": "ListofTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select TABLE_SCHEMA,TABLE_NAME \nFROM  INFORMATION_SCHEMA.TABLES\nwhere TABLE_TYPE = 'BASE TABLE' \nand TABLE_SCHEMA = 'dbo' and \nTABLE_NAME like '%Sales Shipment Header' \nand TABLE_NAME not in ('BIPL - HO$Sales Shipment Header', 'BIPL-  IND AS$Sales Shipment Header', \n'BIPL - INVESTMENT$Sales Shipment Header');",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Stage1_Sales_Shipment_Header_TBS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ListofTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListofTables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Stage1_Sales_Shipment_Header",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}