pipeline/Stage1_2_Sales_Shipment_Header_Incremental.json
{
	"name": "Stage1_2_Sales_Shipment_Header_Incremental",
	"properties": {
		"activities": [
			{
				"name": "Sales_shipment_header_full_load",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10001' as Site_Code\r\nFROM [dbo].[BIPL - ANDHRA PRADESH$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10002' as Site_Code\r\nFROM [dbo].[BIPL - CHENNAI$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10003' as Site_Code\r\nFROM [dbo].[BIPL - CHHATTISGARH$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10004' as Site_Code\r\nFROM [dbo].[BIPL - DELHI$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10005' as Site_Code\r\nFROM [dbo].[BIPL - GOA$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10006' as Site_Code\r\nFROM [dbo].[BIPL - GUJARAT$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10007' as Site_Code\r\nFROM [dbo].[BIPL - HARYANA$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10009' as Site_Code\r\nFROM [dbo].[BIPL - JAIPUR$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10010' as Site_Code\r\nFROM [dbo].[BIPL - KAMSHET$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10011' as Site_Code\r\nFROM [dbo].[BIPL - KARNATAKA$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10012' as Site_Code\r\nFROM [dbo].[BIPL - KERALA$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10013' as Site_Code\r\nFROM [dbo].[BIPL - MADHYAPRADESH$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10014' as Site_Code\r\nFROM [dbo].[BIPL - MUMBAI$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10015' as Site_Code\r\nFROM [dbo].[BIPL - ODISHA$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10016' as Site_Code\r\nFROM [dbo].[BIPL - PUNE$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10017' as Site_Code\r\nFROM [dbo].[BIPL - PUNJAB$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10018' as Site_Code\r\nFROM [dbo].[BIPL - RUDRAPUR$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10019' as Site_Code\r\nFROM [dbo].[BIPL – SAHIBABAD$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10020' as Site_Code\r\nFROM [dbo].[BIPL - TELANGANA$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10021' as Site_Code\r\nFROM [dbo].[BIPL - WESTBENGAL$Sales Shipment Header]\r\nwhere year([Last Modified On]) >= 2021",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": "drop table dbo.sales_shipment_header",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Stage1_Sales_Shipment_Header",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SqlServerTable2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Sales_shipment_header_incremental_load",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Sales_shipment_header_full_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "\nselect a.* from [dbo].[sales_shipment_header] a left join [dbo].[watermarkssh] b on a.Site_Code = b.Site_Code \nwhere a.[Last Modified On] > b.Last_Modified_On",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerTable2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SSH_Incre_Folder",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "list_of_files",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Sales_shipment_header_incremental_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "List_of_all_files_in_adls",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "get_all_files_lastmodified",
				"description": "get all files lastmodified and use latest file to dump in a temp csv filr.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "list_of_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('list_of_files').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "get_lastmodified_of_all_files",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Dataset_to_get_all_filenames_according_to_modifieddate",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "get_lastmodified_of_all_files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('get_lastmodified_of_all_files').output.lastModified,variables('refdatetime'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "refdatetime",
											"value": {
												"value": "@activity('get_lastmodified_of_all_files').output.lastModified",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable2",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set variable1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "latestfile",
											"value": {
												"value": "@activity('get_lastmodified_of_all_files').output.itemName",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "copying_data_from_adls_to_temp_file",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get_all_files_lastmodified",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Dataset_to_get_all_filenames_according_to_modifieddate",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('latestfile')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText4",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stage2_sales_shipment_header_incremental_load",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "copying_data_from_adls_to_temp_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "sales_shipment_header_dataflow",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"latestfile": {
				"type": "String"
			},
			"refdatetime": {
				"type": "String",
				"defaultValue": "1900-01-01 00:00:00"
			}
		},
		"annotations": []
	}
}