pipeline/Stage1_2_3_Location_Master.json
{
	"name": "Stage1_2_3_Location_Master",
	"properties": {
		"activities": [
			{
				"name": "FileName",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select \n\tDistinct\n\tLeft(RIGHT(TABLE_NAME, 8),11) as TABLE_NAME\nfrom INFORMATION_SCHEMA.COLUMNS\nwhere TABLE_NAME like '%Location'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Stage1_Location_Source1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableName",
					"value": {
						"value": "@activity('FileName').output.firstRow.TABLE_NAME",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stage1_Location",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select \r\n       [Code],\r\n       [Name],\r\n       replace([Address], ',', ' ') as [Address],\r\n       replace([Address 2], ',', '') as [Address 2],\r\n       [City],\r\n       [Phone No_],\r\n       [Phone No_ 2],\r\n       [Post Code],\r\n       [County],\r\n       [E-Mail],\r\n       [Country_Region Code],\r\n       [Use As In-Transit],\r\n       [Require Put-away],\r\n       [Require Pick],\r\n       [Use Cross-Docking],\r\n       [Require Receive],\r\n       [Require Shipment], \r\n       [State Code],\r\n       [Subcontracting Location],\r\n       [Subcontractor No_],\r\n       [Depot],\r\n       '10001' as Site_Code\r\nFROM [dbo].[BIPL - ANDHRA PRADESH$Location]\r\nUNION ALL\r\nSelect \r\n       [Code],\r\n       [Name],\r\n       replace([Address], ',', ' ') as [Address],\r\n       replace([Address 2], ',', '') as [Address 2],\r\n       [City],\r\n       [Phone No_],\r\n       [Phone No_ 2],\r\n       [Post Code],\r\n       [County],\r\n       [E-Mail],\r\n       [Country_Region Code],\r\n       [Use As In-Transit],\r\n       [Require Put-away],\r\n       [Require Pick],\r\n       [Use Cross-Docking],\r\n       [Require Receive],\r\n       [Require Shipment], \r\n       [State Code],\r\n       [Subcontracting Location],\r\n       [Subcontractor No_],\r\n       [Depot],\r\n       '10002' as Site_Code\r\nFROM [dbo].[BIPL - CHENNAI$Location]\r\nUNION ALL\r\nSelect \r\n       [Code],\r\n       [Name],\r\n       replace([Address], ',', ' ') as [Address],\r\n       replace([Address 2], ',', '') as [Address 2],\r\n       [City],\r\n       [Phone No_],\r\n       [Phone No_ 2],\r\n       [Post Code],\r\n       [County],\r\n       [E-Mail],\r\n       [Country_Region Code],\r\n       [Use As In-Transit],\r\n       [Require Put-away],\r\n       [Require Pick],\r\n       [Use Cross-Docking],\r\n       [Require Receive],\r\n       [Require Shipment], \r\n       [State Code],\r\n       [Subcontracting Location],\r\n       [Subcontractor No_],\r\n       [Depot],\r\n       '10003' as Site_Code\r\nFROM [dbo].[BIPL - CHHATTISGARH$Location]\r\nUNION ALL\r\nSelect \r\n       [Code],\r\n       [Name],\r\n       replace([Address], ',', ' ') as [Address],\r\n       replace([Address 2], ',', '') as [Address 2],\r\n       [City],\r\n       [Phone No_],\r\n       [Phone No_ 2],\r\n       [Post Code],\r\n       [County],\r\n       [E-Mail],\r\n       [Country_Region Code],\r\n       [Use As In-Transit],\r\n       [Require Put-away],\r\n       [Require Pick],\r\n       [Use Cross-Docking],\r\n       [Require Receive],\r\n       [Require Shipment], \r\n       [State Code],\r\n       [Subcontracting Location],\r\n       [Subcontractor No_],\r\n       [Depot],\r\n       '10004' as Site_Code\r\nFROM [dbo].[BIPL - DELHI$Location]\r\nUNION ALL\r\nSelect \r\n       [Code],\r\n       [Name],\r\n       replace([Address], ',', ' ') as [Address],\r\n       replace([Address 2], ',', '') as [Address 2],\r\n       [City],\r\n       [Phone No_],\r\n       [Phone No_ 2],\r\n       [Post Code],\r\n       [County],\r\n       [E-Mail],\r\n       [Country_Region Code],\r\n       [Use As In-Transit],\r\n       [Require Put-away],\r\n       [Require Pick],\r\n       [Use Cross-Docking],\r\n       [Require Receive],\r\n       [Require Shipment], \r\n       [State Code],\r\n       [Subcontracting Location],\r\n       [Subcontractor No_],\r\n       [Depot],\r\n       '10005' as Site_Code\r\nFROM [dbo].[BIPL - GOA$Location]\r\nUNION ALL\r\nSelect \r\n       [Code],\r\n       [Name],\r\n       replace([Address], ',', ' ') as [Address],\r\n       replace([Address 2], ',', '') as [Address 2],\r\n       [City],\r\n       [Phone No_],\r\n       [Phone No_ 2],\r\n       [Post Code],\r\n       [County],\r\n       [E-Mail],\r\n       [Country_Region Code],\r\n       [Use As In-Transit],\r\n       [Require Put-away],\r\n       [Require Pick],\r\n       [Use Cross-Docking],\r\n       [Require Receive],\r\n       [Require Shipment], \r\n       [State Code],\r\n       [Subcontracting Location],\r\n       [Subcontractor No_],\r\n       [Depot],\r\n       '10006' as Site_Code\r\nFROM [dbo].[BIPL - GUJARAT$Location]\r\nUNION ALL\r\nSelect \r\n       [Code],\r\n       [Name],\r\n       replace([Address], ',', ' ') as [Address],\r\n       replace([Address 2], ',', '') as [Address 2],\r\n       [City],\r\n       [Phone No_],\r\n       [Phone No_ 2],\r\n       [Post Code],\r\n       [County],\r\n       [E-Mail],\r\n       [Country_Region Code],\r\n       [Use As In-Transit],\r\n       [Require Put-away],\r\n       [Require Pick],\r\n       [Use Cross-Docking],\r\n       [Require Receive],\r\n       [Require Shipment], \r\n       [State Code],\r\n       [Subcontracting Location],\r\n       [Subcontractor No_],\r\n       [Depot],\r\n       '10007' as Site_Code\r\nFROM [dbo].[BIPL - HARYANA$Location]\r\nUNION ALL\r\nSelect \r\n       [Code],\r\n       [Name],\r\n       replace([Address], ',', ' ') as [Address],\r\n       replace([Address 2], ',', '') as [Address 2],\r\n       [City],\r\n       [Phone No_],\r\n       [Phone No_ 2],\r\n       [Post Code],\r\n       [County],\r\n       [E-Mail],\r\n       [Country_Region Code],\r\n       [Use As In-Transit],\r\n       [Require Put-away],\r\n       [Require Pick],\r\n       [Use Cross-Docking],\r\n       [Require Receive],\r\n       [Require Shipment], \r\n       [State Code],\r\n       [Subcontracting Location],\r\n       [Subcontractor No_],\r\n       [Depot],\r\n       '10009' as Site_Code\r\nFROM [dbo].[BIPL - JAIPUR$Location]\r\nUNION ALL\r\nSelect \r\n       [Code],\r\n       [Name],\r\n       replace([Address], ',', ' ') as [Address],\r\n       replace([Address 2], ',', '') as [Address 2],\r\n       [City],\r\n       [Phone No_],\r\n       [Phone No_ 2],\r\n       [Post Code],\r\n       [County],\r\n       [E-Mail],\r\n       [Country_Region Code],\r\n       [Use As In-Transit],\r\n       [Require Put-away],\r\n       [Require Pick],\r\n       [Use Cross-Docking],\r\n       [Require Receive],\r\n       [Require Shipment], \r\n       [State Code],\r\n       [Subcontracting Location],\r\n       [Subcontractor No_],\r\n       [Depot],\r\n       '10010' as Site_Code\r\nFROM [dbo].[BIPL - KAMSHET$Location]\r\nUNION ALL\r\nSelect \r\n       [Code],\r\n       [Name],\r\n       replace([Address], ',', ' ') as [Address],\r\n       replace([Address 2], ',', '') as [Address 2],\r\n       [City],\r\n       [Phone No_],\r\n       [Phone No_ 2],\r\n       [Post Code],\r\n       [County],\r\n       [E-Mail],\r\n       [Country_Region Code],\r\n       [Use As In-Transit],\r\n       [Require Put-away],\r\n       [Require Pick],\r\n       [Use Cross-Docking],\r\n       [Require Receive],\r\n       [Require Shipment], \r\n       [State Code],\r\n       [Subcontracting Location],\r\n       [Subcontractor No_],\r\n       [Depot],\r\n       '10011' as Site_Code\r\nFROM [dbo].[BIPL - KARNATAKA$Location]\r\nUNION ALL\r\nSelect \r\n       [Code],\r\n       [Name],\r\n       replace([Address], ',', ' ') as [Address],\r\n       replace([Address 2], ',', '') as [Address 2],\r\n       [City],\r\n       [Phone No_],\r\n       [Phone No_ 2],\r\n       [Post Code],\r\n       [County],\r\n       [E-Mail],\r\n       [Country_Region Code],\r\n       [Use As In-Transit],\r\n       [Require Put-away],\r\n       [Require Pick],\r\n       [Use Cross-Docking],\r\n       [Require Receive],\r\n       [Require Shipment], \r\n       [State Code],\r\n       [Subcontracting Location],\r\n       [Subcontractor No_],\r\n       [Depot],\r\n       '10012' as Site_Code\r\nFROM [dbo].[BIPL - KERALA$Location]\r\nUNION ALL\r\nSelect \r\n       [Code],\r\n       [Name],\r\n       replace([Address], ',', ' ') as [Address],\r\n       replace([Address 2], ',', '') as [Address 2],\r\n       [City],\r\n       [Phone No_],\r\n       [Phone No_ 2],\r\n       [Post Code],\r\n       [County],\r\n       [E-Mail],\r\n       [Country_Region Code],\r\n       [Use As In-Transit],\r\n       [Require Put-away],\r\n       [Require Pick],\r\n       [Use Cross-Docking],\r\n       [Require Receive],\r\n       [Require Shipment], \r\n       [State Code],\r\n       [Subcontracting Location],\r\n       [Subcontractor No_],\r\n       [Depot],\r\n       '10013' as Site_Code\r\nFROM [dbo].[BIPL - MADHYAPRADESH$Location]\r\nUNION ALL\r\nSelect \r\n       [Code],\r\n       [Name],\r\n       replace([Address], ',', ' ') as [Address],\r\n       replace([Address 2], ',', '') as [Address 2],\r\n       [City],\r\n       [Phone No_],\r\n       [Phone No_ 2],\r\n       [Post Code],\r\n       [County],\r\n       [E-Mail],\r\n       [Country_Region Code],\r\n       [Use As In-Transit],\r\n       [Require Put-away],\r\n       [Require Pick],\r\n       [Use Cross-Docking],\r\n       [Require Receive],\r\n       [Require Shipment], \r\n       [State Code],\r\n       [Subcontracting Location],\r\n       [Subcontractor No_],\r\n       [Depot],\r\n       '10014' as Site_Code\r\nFROM [dbo].[BIPL - MUMBAI$Location]\r\nUNION ALL\r\nSelect \r\n       [Code],\r\n       [Name],\r\n       replace([Address], ',', ' ') as [Address],\r\n       replace([Address 2], ',', '') as [Address 2],\r\n       [City],\r\n       [Phone No_],\r\n       [Phone No_ 2],\r\n       [Post Code],\r\n       [County],\r\n       [E-Mail],\r\n       [Country_Region Code],\r\n       [Use As In-Transit],\r\n       [Require Put-away],\r\n       [Require Pick],\r\n       [Use Cross-Docking],\r\n       [Require Receive],\r\n       [Require Shipment], \r\n       [State Code],\r\n       [Subcontracting Location],\r\n       [Subcontractor No_],\r\n       [Depot],\r\n       '10015' as Site_Code\r\nFROM [dbo].[BIPL - ODISHA$Location]\r\nUNION ALL\r\nSelect \r\n       [Code],\r\n       [Name],\r\n       replace([Address], ',', ' ') as [Address],\r\n       replace([Address 2], ',', '') as [Address 2],\r\n       [City],\r\n       [Phone No_],\r\n       [Phone No_ 2],\r\n       [Post Code],\r\n       [County],\r\n       [E-Mail],\r\n       [Country_Region Code],\r\n       [Use As In-Transit],\r\n       [Require Put-away],\r\n       [Require Pick],\r\n       [Use Cross-Docking],\r\n       [Require Receive],\r\n       [Require Shipment], \r\n       [State Code],\r\n       [Subcontracting Location],\r\n       [Subcontractor No_],\r\n       [Depot],\r\n      '10016' as Site_Code\r\nFROM [dbo].[BIPL - PUNE$Location]\r\nUNION ALL\r\nSelect \r\n       [Code],\r\n       [Name],\r\n       replace([Address], ',', ' ') as [Address],\r\n       replace([Address 2], ',', '') as [Address 2],\r\n       [City],\r\n       [Phone No_],\r\n       [Phone No_ 2],\r\n       [Post Code],\r\n       [County],\r\n       [E-Mail],\r\n       [Country_Region Code],\r\n       [Use As In-Transit],\r\n       [Require Put-away],\r\n       [Require Pick],\r\n       [Use Cross-Docking],\r\n       [Require Receive],\r\n       [Require Shipment], \r\n       [State Code],\r\n       [Subcontracting Location],\r\n       [Subcontractor No_],\r\n       [Depot],\r\n      '10017' as Site_Code\r\nFROM [dbo].[BIPL - PUNJAB$Location]\r\nUNION ALL\r\nSelect \r\n       [Code],\r\n       [Name],\r\n       replace([Address], ',', ' ') as [Address],\r\n       replace([Address 2], ',', '') as [Address 2],\r\n       [City],\r\n       [Phone No_],\r\n       [Phone No_ 2],\r\n       [Post Code],\r\n       [County],\r\n       [E-Mail],\r\n       [Country_Region Code],\r\n       [Use As In-Transit],\r\n       [Require Put-away],\r\n       [Require Pick],\r\n       [Use Cross-Docking],\r\n       [Require Receive],\r\n       [Require Shipment], \r\n       [State Code],\r\n       [Subcontracting Location],\r\n       [Subcontractor No_],\r\n       [Depot],\r\n      '10018' as Site_Code\r\nFROM [dbo].[BIPL - RUDRAPUR$Location]\r\nUNION ALL\r\nSelect \r\n       [Code],\r\n       [Name],\r\n       replace([Address], ',', ' ') as [Address],\r\n       replace([Address 2], ',', '') as [Address 2],\r\n       [City],\r\n       [Phone No_],\r\n       [Phone No_ 2],\r\n       [Post Code],\r\n       [County],\r\n       [E-Mail],\r\n       [Country_Region Code],\r\n       [Use As In-Transit],\r\n       [Require Put-away],\r\n       [Require Pick],\r\n       [Use Cross-Docking],\r\n       [Require Receive],\r\n       [Require Shipment], \r\n       [State Code],\r\n       [Subcontracting Location],\r\n       [Subcontractor No_],\r\n       [Depot],\r\n       '10019' as Site_Code\r\nFROM [dbo].[BIPL – SAHIBABAD$Location]\r\nUNION ALL\r\nSelect \r\n       [Code],\r\n       [Name],\r\n       replace([Address], ',', ' ') as [Address],\r\n       replace([Address 2], ',', '') as [Address 2],\r\n       [City],\r\n       [Phone No_],\r\n       [Phone No_ 2],\r\n       [Post Code],\r\n       [County],\r\n       [E-Mail],\r\n       [Country_Region Code],\r\n       [Use As In-Transit],\r\n       [Require Put-away],\r\n       [Require Pick],\r\n       [Use Cross-Docking],\r\n       [Require Receive],\r\n       [Require Shipment], \r\n       [State Code],\r\n       [Subcontracting Location],\r\n       [Subcontractor No_],\r\n       [Depot],\r\n       '10020' as Site_Code\r\nFROM [dbo].[BIPL - TELANGANA$Location]\r\nUNION ALL\r\nSelect \r\n       [Code],\r\n       [Name],\r\n       replace([Address], ',', ' ') as [Address],\r\n       replace([Address 2], ',', '') as [Address 2],\r\n       [City],\r\n       [Phone No_],\r\n       [Phone No_ 2],\r\n       [Post Code],\r\n       [County],\r\n       [E-Mail],\r\n       [Country_Region Code],\r\n       [Use As In-Transit],\r\n       [Require Put-away],\r\n       [Require Pick],\r\n       [Use Cross-Docking],\r\n       [Require Receive],\r\n       [Require Shipment], \r\n       [State Code],\r\n       [Subcontracting Location],\r\n       [Subcontractor No_],\r\n       [Depot],\r\n       '10021' as Site_Code\r\nFROM [dbo].[BIPL - WESTBENGAL$Location]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Stage1_Location_Source1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Stage1_Location_Sink1",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@variables('TableName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Location_Master_Folder_Delete",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Stage1_Location",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Location_Folder_Delete",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "curated_data",
							"type": "LinkedServiceReference"
						},
						"path": "curated-data"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Stage2_Location_Master_DF",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Location_Master_Folder_Delete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Stage2_Location_Master_DF",
						"type": "DataFlowReference",
						"parameters": {
							"ContainerName": "'delta-lake'",
							"FolderName": "'Master/Location'",
							"Table": {
								"value": "'@{concat(variables('TableName'),'.csv')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Stage3_Location_Master_DF",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Stage2_Location_Master_DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Stage3_Location_Master_DF",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}