pipeline/Stage1_2_3_Item_Master.json
{
	"name": "Stage1_2_3_Item_Master",
	"properties": {
		"activities": [
			{
				"name": "FileName",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select \r\n    Distinct\r\n    Left(RIGHT(TABLE_NAME, 4),11) as TABLE_NAME\r\nfrom INFORMATION_SCHEMA.COLUMNS\r\nwhere TABLE_NAME like '%Item'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Stage1_Item_Source",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableName",
					"value": {
						"value": "@activity('FileName').output.firstRow.TABLE_NAME\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stage1_Item_Master",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT \r\n\tNo_,\r\n\t[No_ 2],\r\n\t[Description],\r\n\t[Description 2],\r\n\t--replace(replace(replace([Description],',', ' '), '\"', ' '), '''', ' ') as [Description],\r\n\t--replace(replace(replace([Description 2],',', ' '), '\"', ' '), '''', ' ') as [Description 2],\r\n\t[Base Unit of Measure],\r\n\t[Item Category Code],\r\n\t[Product Group Code],\r\n\t[Selling Price],\r\n\t[Pack Size Information],\r\n\t[Pack Size],\r\n\t[2Way Item],\r\n\t[Short Name],\r\n\t[Pack Title],\r\n\t[Pack Group Code],\r\n\t[Jar Deposit],\r\n\t[Pcs Per Case],\r\n\t[Item Class],\r\n\t[FG Category],\r\n\t[Packaging Type],\r\n\t[Container Type],\r\n\t[Sub Brand],\r\n\t[SKU Category]\r\n FROM [BisleriNAV16Test].[dbo].[BIPL - MUMBAI$Item]\r\n where [Item Category Code] in ('FG', 'TRD-FG')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Stage1_Item_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Stage1_Item_Sink",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@variables('TableName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Item_Master_Folder_Delete",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Stage1_Item_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Stage2_Item_Folder_Delete",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "curated_data",
							"type": "LinkedServiceReference"
						},
						"path": "curated-data"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Stage2_Item_Master_DF",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Item_Master_Folder_Delete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Stage2_Item_Master_DF",
						"type": "DataFlowReference",
						"parameters": {
							"Contanier_Name": "'delta-lake'",
							"Folder_Name": "'Master/Item_Master'",
							"Table": {
								"value": "'@{concat(variables('TableName'),'.csv')\n}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Stage3_Item_Master_DF",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Stage2_Item_Master_DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Stage3_Item_Master_DF",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String"
			},
			"TableName2": {
				"type": "String"
			}
		},
		"annotations": []
	}
}