pipeline/Stage1_2_Sales_Shipment_Line_Incremental.json
{
	"name": "Stage1_2_Sales_Shipment_Line_Incremental",
	"properties": {
		"activities": [
			{
				"name": "Sales_shipment_header_full_load",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "with Sales_Header as \r\n(\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10001' as Site_Code\r\nFROM [dbo].[BIPL - ANDHRA PRADESH$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10002' as Site_Code\r\nFROM [dbo].[BIPL - CHENNAI$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10003' as Site_Code\r\nFROM [dbo].[BIPL - CHHATTISGARH$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10004' as Site_Code\r\nFROM [dbo].[BIPL - DELHI$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10005' as Site_Code\r\nFROM [dbo].[BIPL - GOA$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10006' as Site_Code\r\nFROM [dbo].[BIPL - GUJARAT$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10007' as Site_Code\r\nFROM [dbo].[BIPL - HARYANA$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10009' as Site_Code\r\nFROM [dbo].[BIPL - JAIPUR$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10010' as Site_Code\r\nFROM [dbo].[BIPL - KAMSHET$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10011' as Site_Code\r\nFROM [dbo].[BIPL - KARNATAKA$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10012' as Site_Code\r\nFROM [dbo].[BIPL - KERALA$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10013' as Site_Code\r\nFROM [dbo].[BIPL - MADHYAPRADESH$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10014' as Site_Code\r\nFROM [dbo].[BIPL - MUMBAI$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10015' as Site_Code\r\nFROM [dbo].[BIPL - ODISHA$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10016' as Site_Code\r\nFROM [dbo].[BIPL - PUNE$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10017' as Site_Code\r\nFROM [dbo].[BIPL - PUNJAB$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10018' as Site_Code\r\nFROM [dbo].[BIPL - RUDRAPUR$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10019' as Site_Code\r\nFROM [dbo].[BIPL – SAHIBABAD$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10020' as Site_Code\r\nFROM [dbo].[BIPL - TELANGANA$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace(replace([Ship-to Name],',', ' '), '\"', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10021' as Site_Code\r\nFROM [dbo].[BIPL - WESTBENGAL$Sales Shipment Header]\r\nwhere year([Posting Date]) >= 2021\r\n),\r\nSales_Line as \r\n(\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_] ,\r\n      [Type],\r\n      [No_]\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Description],\r\n      [Unit of Measure], \r\n      [Quantity],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Shortcut Dimension 1 Code],\r\n      [Shortcut Dimension 2 Code],\r\n      [Quantity (Base)],\r\n      [Item Category Code],\r\n      [Free Supply],\r\n      [Unit Price Incl_ of Tax],\r\n      [GST Group Code],\r\n      [Total GST Amount],\r\n      [HSN_SAC Code],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Pack title],\r\n      [Scheme Parent Item No_],\r\n      [ECOM],\r\n      [Last Modified On],\r\n      [Posting Date],\r\n\t'10001' as Site_Code\r\nFROM [dbo].[BIPL - ANDHRA PRADESH$Sales Shipment Line]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_] ,\r\n      [Type],\r\n      [No_]\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Description],\r\n      [Unit of Measure], \r\n      [Quantity],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Shortcut Dimension 1 Code],\r\n      [Shortcut Dimension 2 Code],\r\n      [Quantity (Base)],\r\n      [Item Category Code],\r\n      [Free Supply],\r\n      [Unit Price Incl_ of Tax],\r\n      [GST Group Code],\r\n      [Total GST Amount],\r\n      [HSN_SAC Code],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Pack title],\r\n      [Scheme Parent Item No_],\r\n      [ECOM],\r\n      [Last Modified On],\r\n      [Posting Date],\r\n\t'10002' as Site_Code\r\nFROM [dbo].[BIPL - CHENNAI$Sales Shipment Line]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_] ,\r\n      [Type],\r\n      [No_]\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Description],\r\n      [Unit of Measure], \r\n      [Quantity],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Shortcut Dimension 1 Code],\r\n      [Shortcut Dimension 2 Code],\r\n      [Quantity (Base)],\r\n      [Item Category Code],\r\n      [Free Supply],\r\n      [Unit Price Incl_ of Tax],\r\n      [GST Group Code],\r\n      [Total GST Amount],\r\n      [HSN_SAC Code],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Pack title],\r\n      [Scheme Parent Item No_],\r\n      [ECOM],\r\n      [Last Modified On],\r\n      [Posting Date],\r\n\t'10003' as Site_Code\r\nFROM [dbo].[BIPL - CHHATTISGARH$Sales Shipment Line]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_] ,\r\n      [Type],\r\n      [No_]\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Description],\r\n      [Unit of Measure], \r\n      [Quantity],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Shortcut Dimension 1 Code],\r\n      [Shortcut Dimension 2 Code],\r\n      [Quantity (Base)],\r\n      [Item Category Code],\r\n      [Free Supply],\r\n      [Unit Price Incl_ of Tax],\r\n      [GST Group Code],\r\n      [Total GST Amount],\r\n      [HSN_SAC Code],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Pack title],\r\n      [Scheme Parent Item No_],\r\n      [ECOM],\r\n      [Last Modified On],\r\n      [Posting Date],\r\n\t'10004' as Site_Code\r\nFROM [dbo].[BIPL - DELHI$Sales Shipment Line]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n     [Document No_],\r\n      [Line No_] ,\r\n      [Type],\r\n      [No_]\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Description],\r\n      [Unit of Measure], \r\n      [Quantity],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Shortcut Dimension 1 Code],\r\n      [Shortcut Dimension 2 Code],\r\n      [Quantity (Base)],\r\n      [Item Category Code],\r\n      [Free Supply],\r\n      [Unit Price Incl_ of Tax],\r\n      [GST Group Code],\r\n      [Total GST Amount],\r\n      [HSN_SAC Code],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Pack title],\r\n      [Scheme Parent Item No_],\r\n      [ECOM],\r\n      [Last Modified On],\r\n      [Posting Date],\r\n\t'10005' as Site_Code\r\nFROM [dbo].[BIPL - GOA$Sales Shipment Line]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_] ,\r\n      [Type],\r\n      [No_]\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Description],\r\n      [Unit of Measure], \r\n      [Quantity],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Shortcut Dimension 1 Code],\r\n      [Shortcut Dimension 2 Code],\r\n      [Quantity (Base)],\r\n      [Item Category Code],\r\n      [Free Supply],\r\n      [Unit Price Incl_ of Tax],\r\n      [GST Group Code],\r\n      [Total GST Amount],\r\n      [HSN_SAC Code],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Pack title],\r\n      [Scheme Parent Item No_],\r\n      [ECOM],\r\n      [Last Modified On],\r\n      [Posting Date],\r\n\t'10006' as Site_Code\r\nFROM [dbo].[BIPL - GUJARAT$Sales Shipment Line]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_] ,\r\n      [Type],\r\n      [No_]\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Description],\r\n      [Unit of Measure], \r\n      [Quantity],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Shortcut Dimension 1 Code],\r\n      [Shortcut Dimension 2 Code],\r\n      [Quantity (Base)],\r\n      [Item Category Code],\r\n      [Free Supply],\r\n      [Unit Price Incl_ of Tax],\r\n      [GST Group Code],\r\n      [Total GST Amount],\r\n      [HSN_SAC Code],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Pack title],\r\n      [Scheme Parent Item No_],\r\n      [ECOM],\r\n      [Last Modified On],\r\n      [Posting Date],\r\n\t'10007' as Site_Code\r\nFROM [dbo].[BIPL - HARYANA$Sales Shipment Line]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_] ,\r\n      [Type],\r\n      [No_]\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Description],\r\n      [Unit of Measure], \r\n      [Quantity],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Shortcut Dimension 1 Code],\r\n      [Shortcut Dimension 2 Code],\r\n      [Quantity (Base)],\r\n      [Item Category Code],\r\n      [Free Supply],\r\n      [Unit Price Incl_ of Tax],\r\n      [GST Group Code],\r\n      [Total GST Amount],\r\n      [HSN_SAC Code],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Pack title],\r\n      [Scheme Parent Item No_],\r\n      [ECOM],\r\n      [Last Modified On],\r\n      [Posting Date],\r\n\t'10009' as Site_Code\r\nFROM [dbo].[BIPL - JAIPUR$Sales Shipment Line]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_] ,\r\n      [Type],\r\n      [No_]\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Description],\r\n      [Unit of Measure], \r\n      [Quantity],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Shortcut Dimension 1 Code],\r\n      [Shortcut Dimension 2 Code],\r\n      [Quantity (Base)],\r\n      [Item Category Code],\r\n      [Free Supply],\r\n      [Unit Price Incl_ of Tax],\r\n      [GST Group Code],\r\n      [Total GST Amount],\r\n      [HSN_SAC Code],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Pack title],\r\n      [Scheme Parent Item No_],\r\n      [ECOM],\r\n      [Last Modified On],\r\n      [Posting Date],\r\n\t'10010' as Site_Code\r\nFROM [dbo].[BIPL - KAMSHET$Sales Shipment Line]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_] ,\r\n      [Type],\r\n      [No_]\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Description],\r\n      [Unit of Measure], \r\n      [Quantity],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Shortcut Dimension 1 Code],\r\n      [Shortcut Dimension 2 Code],\r\n      [Quantity (Base)],\r\n      [Item Category Code],\r\n      [Free Supply],\r\n      [Unit Price Incl_ of Tax],\r\n      [GST Group Code],\r\n      [Total GST Amount],\r\n      [HSN_SAC Code],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Pack title],\r\n      [Scheme Parent Item No_],\r\n      [ECOM],\r\n      [Last Modified On],\r\n      [Posting Date],\r\n\t'10011' as Site_Code\r\nFROM [dbo].[BIPL - KARNATAKA$Sales Shipment Line]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_] ,\r\n      [Type],\r\n      [No_]\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Description],\r\n      [Unit of Measure], \r\n      [Quantity],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Shortcut Dimension 1 Code],\r\n      [Shortcut Dimension 2 Code],\r\n      [Quantity (Base)],\r\n      [Item Category Code],\r\n      [Free Supply],\r\n      [Unit Price Incl_ of Tax],\r\n      [GST Group Code],\r\n      [Total GST Amount],\r\n      [HSN_SAC Code],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Pack title],\r\n      [Scheme Parent Item No_],\r\n      [ECOM],\r\n      [Last Modified On],\r\n      [Posting Date],\r\n\t'10012' as Site_Code\r\nFROM [dbo].[BIPL - KERALA$Sales Shipment Line]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_] ,\r\n      [Type],\r\n      [No_]\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Description],\r\n      [Unit of Measure], \r\n      [Quantity],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Shortcut Dimension 1 Code],\r\n      [Shortcut Dimension 2 Code],\r\n      [Quantity (Base)],\r\n      [Item Category Code],\r\n      [Free Supply],\r\n      [Unit Price Incl_ of Tax],\r\n      [GST Group Code],\r\n      [Total GST Amount],\r\n      [HSN_SAC Code],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Pack title],\r\n      [Scheme Parent Item No_],\r\n      [ECOM],\r\n      [Last Modified On],\r\n      [Posting Date],\r\n\t'10013' as Site_Code\r\nFROM [dbo].[BIPL - MADHYAPRADESH$Sales Shipment Line]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_] ,\r\n      [Type],\r\n      [No_]\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Description],\r\n      [Unit of Measure], \r\n      [Quantity],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Shortcut Dimension 1 Code],\r\n      [Shortcut Dimension 2 Code],\r\n      [Quantity (Base)],\r\n      [Item Category Code],\r\n      [Free Supply],\r\n      [Unit Price Incl_ of Tax],\r\n      [GST Group Code],\r\n      [Total GST Amount],\r\n      [HSN_SAC Code],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Pack title],\r\n      [Scheme Parent Item No_],\r\n      [ECOM],\r\n      [Last Modified On],\r\n      [Posting Date],\r\n\t'10014' as Site_Code\r\nFROM [dbo].[BIPL - MUMBAI$Sales Shipment Line]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_] ,\r\n      [Type],\r\n      [No_]\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Description],\r\n      [Unit of Measure], \r\n      [Quantity],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Shortcut Dimension 1 Code],\r\n      [Shortcut Dimension 2 Code],\r\n      [Quantity (Base)],\r\n      [Item Category Code],\r\n      [Free Supply],\r\n      [Unit Price Incl_ of Tax],\r\n      [GST Group Code],\r\n      [Total GST Amount],\r\n      [HSN_SAC Code],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Pack title],\r\n      [Scheme Parent Item No_],\r\n      [ECOM],\r\n      [Last Modified On],\r\n      [Posting Date],\r\n\t'10015' as Site_Code\r\nFROM [dbo].[BIPL - ODISHA$Sales Shipment Line]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_] ,\r\n      [Type],\r\n      [No_]\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Description],\r\n      [Unit of Measure], \r\n      [Quantity],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Shortcut Dimension 1 Code],\r\n      [Shortcut Dimension 2 Code],\r\n      [Quantity (Base)],\r\n      [Item Category Code],\r\n      [Free Supply],\r\n      [Unit Price Incl_ of Tax],\r\n      [GST Group Code],\r\n      [Total GST Amount],\r\n      [HSN_SAC Code],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Pack title],\r\n      [Scheme Parent Item No_],\r\n      [ECOM],\r\n      [Last Modified On],\r\n      [Posting Date],\r\n\t'10016' as Site_Code\r\nFROM [dbo].[BIPL - PUNE$Sales Shipment Line]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_] ,\r\n      [Type],\r\n      [No_]\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Description],\r\n      [Unit of Measure], \r\n      [Quantity],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Shortcut Dimension 1 Code],\r\n      [Shortcut Dimension 2 Code],\r\n      [Quantity (Base)],\r\n      [Item Category Code],\r\n      [Free Supply],\r\n      [Unit Price Incl_ of Tax],\r\n      [GST Group Code],\r\n      [Total GST Amount],\r\n      [HSN_SAC Code],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Pack title],\r\n      [Scheme Parent Item No_],\r\n      [ECOM],\r\n      [Last Modified On],\r\n      [Posting Date],\r\n\t'10017' as Site_Code\r\nFROM [dbo].[BIPL - PUNJAB$Sales Shipment Line]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_] ,\r\n      [Type],\r\n      [No_]\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Description],\r\n      [Unit of Measure], \r\n      [Quantity],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Shortcut Dimension 1 Code],\r\n      [Shortcut Dimension 2 Code],\r\n      [Quantity (Base)],\r\n      [Item Category Code],\r\n      [Free Supply],\r\n      [Unit Price Incl_ of Tax],\r\n      [GST Group Code],\r\n      [Total GST Amount],\r\n      [HSN_SAC Code],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Pack title],\r\n      [Scheme Parent Item No_],\r\n      [ECOM],\r\n      [Last Modified On],\r\n      [Posting Date],\r\n\t'10018' as Site_Code\r\nFROM [dbo].[BIPL - RUDRAPUR$Sales Shipment Line]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_] ,\r\n      [Type],\r\n      [No_]\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Description],\r\n      [Unit of Measure], \r\n      [Quantity],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Shortcut Dimension 1 Code],\r\n      [Shortcut Dimension 2 Code],\r\n      [Quantity (Base)],\r\n      [Item Category Code],\r\n      [Free Supply],\r\n      [Unit Price Incl_ of Tax],\r\n      [GST Group Code],\r\n      [Total GST Amount],\r\n      [HSN_SAC Code],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Pack title],\r\n      [Scheme Parent Item No_],\r\n      [ECOM],\r\n      [Last Modified On],\r\n      [Posting Date],\r\n\t'10019' as Site_Code\r\nFROM [dbo].[BIPL – SAHIBABAD$Sales Shipment Line]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_] ,\r\n      [Type],\r\n      [No_]\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Description],\r\n      [Unit of Measure], \r\n      [Quantity],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Shortcut Dimension 1 Code],\r\n      [Shortcut Dimension 2 Code],\r\n      [Quantity (Base)],\r\n      [Item Category Code],\r\n      [Free Supply],\r\n      [Unit Price Incl_ of Tax],\r\n      [GST Group Code],\r\n      [Total GST Amount],\r\n      [HSN_SAC Code],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Pack title],\r\n      [Scheme Parent Item No_],\r\n      [ECOM],\r\n      [Last Modified On],\r\n      [Posting Date],\r\n\t'10020' as Site_Code\r\nFROM [dbo].[BIPL - TELANGANA$Sales Shipment Line]\r\nwhere year([Posting Date]) >= 2021\r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_] ,\r\n      [Type],\r\n      [No_]\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Description],\r\n      [Unit of Measure], \r\n      [Quantity],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Shortcut Dimension 1 Code],\r\n      [Shortcut Dimension 2 Code],\r\n      [Quantity (Base)],\r\n      [Item Category Code],\r\n      [Free Supply],\r\n      [Unit Price Incl_ of Tax],\r\n      [GST Group Code],\r\n      [Total GST Amount],\r\n      [HSN_SAC Code],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Pack title],\r\n      [Scheme Parent Item No_],\r\n      [ECOM],\r\n      [Last Modified On],\r\n      [Posting Date],\r\n\t'10021' as Site_Code\r\nFROM [dbo].[BIPL - WESTBENGAL$Sales Shipment Line]\r\nwhere year([Posting Date]) >= 2021\r\n),\r\nLeft_join_cte as \r\n(\r\nSelect \r\n\tsl.*\r\nfrom Sales_Line sl\r\nleft join\r\nSales_Header sh\r\non sl.[Document No_] = sh.[No_] and sl.Site_Code = sh.Site_Code\r\n)\r\nSELECT\r\n\t*\r\nfrom \r\n\tLeft_join_cte\r\n--where [Posting Date] = '2021-01-02 00:00:00.000'\r\n--[Document No_] = 'PSS2021VSP006972'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": "drop table dbo.sales_shipment_line",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Sales_shipment_line_source_bisleri",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "stage1_sink_from_bisleri_to_sqlserver",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Sales_shipment_header_incremental_load",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Sales_shipment_header_full_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "\nselect a.* from [dbo].[sales_shipment_line] a left join [dbo].[watermarkssl] b on a.Site_Code = b.Site_Code \nwhere a.[Last Modified On] > b.Last_Modified_On",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "stage1_sink_from_bisleri_to_sqlserver",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Stage1_Adls_sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "list_of_files",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Sales_shipment_header_incremental_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Sales_Shipment_Line_Folder_Files",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "get_all_files_lastmodified",
				"description": "get all files lastmodified and use latest file to dump in a temp csv filr.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "list_of_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('list_of_files').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "get_lastmodified_of_all_files",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "to_get_all_filenames_and_lastmodifieddate",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "get_lastmodified_of_all_files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('get_lastmodified_of_all_files').output.lastModified, variables('refdatetime'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "refdatetime",
											"value": {
												"value": "@activity('get_lastmodified_of_all_files').output.lastModified",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable2",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set variable1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "latestfile",
											"value": {
												"value": "@activity('get_lastmodified_of_all_files').output.itemName",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "copying_data_from_adls_to_temp_file",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get_all_files_lastmodified",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "to_get_all_filenames_and_lastmodifieddate",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('latestfile')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Dump_ssl_data_to_temp",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stage2_sales_shipment_line_incremental_load",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "copying_data_from_adls_to_temp_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "sales_shipment_line_dataflow",
						"type": "DataFlowReference",
						"parameters": {
							"container_name": "'delta-lake'",
							"folder_name": "'Transaction/Incremental-Load/Sales_Shipment_Line'"
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"latestfile": {
				"type": "String"
			},
			"refdatetime": {
				"type": "String",
				"defaultValue": "1900-01-01 00:00:00"
			}
		},
		"annotations": []
	}
}