pipeline/Stage1_Full_Load_Sales_Shipment_Header.json
{
	"name": "Stage1_Full_Load_Sales_Shipment_Header",
	"properties": {
		"activities": [
			{
				"name": "ListofTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select \n    TABLE_SCHEMA,\n    replace(replace(replace(replace(RIGHT(TABLE_NAME, len(TABLE_NAME) -7),'$',''),' ','' ),'(',''),')','') as TABLE_NAME\nFROM  INFORMATION_SCHEMA.TABLES\nwhere  \nTABLE_SCHEMA = 'dbo' and \nTABLE_NAME like '%Sales Shipment Header' \nand TABLE_NAME not in ('BIPL - HO$Sales Shipment Header', 'BIPL-  IND AS$Sales Shipment Header', \n'BIPL - INVESTMENT$Sales Shipment Header')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Stage1_Sales_Shipment_Header_TBS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ListofTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListofTables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Full-Load_Copy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Stage1_Sales_Shipment_Header",
									"type": "DatasetReference",
									"parameters": {
										"table": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										},
										"schema": {
											"value": "@item().TABLE_SCHEMA",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Sales_Shipment_Header_Sink",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@concat(item().TABLE_NAME,formatDateTime(convertTimeZone(utcNow(),'UTC','India Standard Time'),'_yyyy-MM-dd hh:mm:ss.sss'),'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}