pipeline/Stage1_2_Sales_Cr_Memo_Line_Incremental.json
{
	"name": "Stage1_2_Sales_Cr_Memo_Line_Incremental",
	"properties": {
		"activities": [
			{
				"name": "Sales_shipment_header_full_load",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "with cte as(\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_],\r\n      [Type],\r\n      [No_],\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Quantity],\r\n      [Shipment Date],\r\n      [Description],\r\n      [Unit of Measure],\r\n      [Quantity (Base)],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Amount],\r\n      [Gross Weight],\r\n      [Bill-to Customer No_],\r\n      [GST Base Amount],\r\n      [Posting Date],\r\n      [Unit of Measure Code],\r\n      [Amount To Customer],\r\n      [TCS Nature of Collection],\r\n      [Discount Structure Code],\r\n      [Discount Structure Amount],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Scheme Parent Item No_],\r\n\t'10001' as Site_Code\r\nFROM [dbo].[BIPL - ANDHRA PRADESH$Sales Cr_Memo Line]\r\nwhere year([Posting Date]) >= 2020 \r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_],\r\n      [Type],\r\n      [No_],\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Quantity],\r\n      [Shipment Date],\r\n      [Description],\r\n      [Unit of Measure],\r\n      [Quantity (Base)],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Amount],\r\n      [Gross Weight],\r\n      [Bill-to Customer No_],\r\n      [GST Base Amount],\r\n      [Posting Date],\r\n      [Unit of Measure Code],\r\n      [Amount To Customer],\r\n      [TCS Nature of Collection],\r\n      [Discount Structure Code],\r\n      [Discount Structure Amount],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Scheme Parent Item No_],\r\n\t'10002' as Site_Code\r\nFROM [dbo].[BIPL - CHENNAI$Sales Cr_Memo Line]\r\nwhere year([Posting Date]) >= 2020 \r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_],\r\n      [Type],\r\n      [No_],\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Quantity],\r\n      [Shipment Date],\r\n      [Description],\r\n      [Unit of Measure],\r\n      [Quantity (Base)],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Amount],\r\n      [Gross Weight],\r\n      [Bill-to Customer No_],\r\n      [GST Base Amount],\r\n      [Posting Date],\r\n      [Unit of Measure Code],\r\n      [Amount To Customer],\r\n      [TCS Nature of Collection],\r\n      [Discount Structure Code],\r\n      [Discount Structure Amount],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Scheme Parent Item No_],\r\n\t'10003' as Site_Code\r\nFROM [dbo].[BIPL - CHHATTISGARH$Sales Cr_Memo Line]\r\nwhere year([Posting Date]) >= 2020 \r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_],\r\n      [Type],\r\n      [No_],\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Quantity],\r\n      [Shipment Date],\r\n      [Description],\r\n      [Unit of Measure],\r\n      [Quantity (Base)],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Amount],\r\n      [Gross Weight],\r\n      [Bill-to Customer No_],\r\n      [GST Base Amount],\r\n      [Posting Date],\r\n      [Unit of Measure Code],\r\n      [Amount To Customer],\r\n      [TCS Nature of Collection],\r\n      [Discount Structure Code],\r\n      [Discount Structure Amount],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Scheme Parent Item No_],\r\n\t'10004' as Site_Code\r\nFROM [dbo].[BIPL - DELHI$Sales Cr_Memo Line]\r\nwhere year([Posting Date]) >= 2020 \r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_],\r\n      [Type],\r\n      [No_],\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Quantity],\r\n      [Shipment Date],\r\n      [Description],\r\n      [Unit of Measure],\r\n      [Quantity (Base)],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Amount],\r\n      [Gross Weight],\r\n      [Bill-to Customer No_],\r\n      [GST Base Amount],\r\n      [Posting Date],\r\n      [Unit of Measure Code],\r\n      [Amount To Customer],\r\n      [TCS Nature of Collection],\r\n      [Discount Structure Code],\r\n      [Discount Structure Amount],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Scheme Parent Item No_],\r\n\t'10005' as Site_Code\r\nFROM [dbo].[BIPL - GOA$Sales Cr_Memo Line]\r\nwhere year([Posting Date]) >= 2020 \r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_],\r\n      [Type],\r\n      [No_],\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Quantity],\r\n      [Shipment Date],\r\n      [Description],\r\n      [Unit of Measure],\r\n      [Quantity (Base)],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Amount],\r\n      [Gross Weight],\r\n      [Bill-to Customer No_],\r\n      [GST Base Amount],\r\n      [Posting Date],\r\n      [Unit of Measure Code],\r\n      [Amount To Customer],\r\n      [TCS Nature of Collection],\r\n      [Discount Structure Code],\r\n      [Discount Structure Amount],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Scheme Parent Item No_],\r\n\t'10006' as Site_Code\r\nFROM [dbo].[BIPL - GUJARAT$Sales Cr_Memo Line]\r\nwhere year([Posting Date]) >= 2020 \r\nUNION ALL\r\nSELECT \r\n[Document No_],\r\n      [Line No_],\r\n      [Type],\r\n      [No_],\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Quantity],\r\n      [Shipment Date],\r\n      [Description],\r\n      [Unit of Measure],\r\n      [Quantity (Base)],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Amount],\r\n      [Gross Weight],\r\n      [Bill-to Customer No_],\r\n      [GST Base Amount],\r\n      [Posting Date],\r\n      [Unit of Measure Code],\r\n      [Amount To Customer],\r\n      [TCS Nature of Collection],\r\n      [Discount Structure Code],\r\n      [Discount Structure Amount],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Scheme Parent Item No_],\r\n\t'10007' as Site_Code\r\nFROM [dbo].[BIPL - HARYANA$Sales Cr_Memo Line]\r\nwhere year([Posting Date]) >= 2020 \r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_],\r\n      [Type],\r\n      [No_],\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Quantity],\r\n      [Shipment Date],\r\n      [Description],\r\n      [Unit of Measure],\r\n      [Quantity (Base)],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Amount],\r\n      [Gross Weight],\r\n      [Bill-to Customer No_],\r\n      [GST Base Amount],\r\n      [Posting Date],\r\n      [Unit of Measure Code],\r\n      [Amount To Customer],\r\n      [TCS Nature of Collection],\r\n      [Discount Structure Code],\r\n      [Discount Structure Amount],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Scheme Parent Item No_],\r\n\t'10009' as Site_Code\r\nFROM [dbo].[BIPL - JAIPUR$Sales Cr_Memo Line]\r\nwhere year([Posting Date]) >= 2020 \r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_],\r\n      [Type],\r\n      [No_],\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Quantity],\r\n      [Shipment Date],\r\n      [Description],\r\n      [Unit of Measure],\r\n      [Quantity (Base)],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Amount],\r\n      [Gross Weight],\r\n      [Bill-to Customer No_],\r\n      [GST Base Amount],\r\n      [Posting Date],\r\n      [Unit of Measure Code],\r\n      [Amount To Customer],\r\n      [TCS Nature of Collection],\r\n      [Discount Structure Code],\r\n      [Discount Structure Amount],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Scheme Parent Item No_],\r\n\t'10010' as Site_Code\r\nFROM [dbo].[BIPL - KAMSHET$Sales Cr_Memo Line]\r\nwhere year([Posting Date]) >= 2020 \r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_],\r\n      [Type],\r\n      [No_],\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Quantity],\r\n      [Shipment Date],\r\n      [Description],\r\n      [Unit of Measure],\r\n      [Quantity (Base)],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Amount],\r\n      [Gross Weight],\r\n      [Bill-to Customer No_],\r\n      [GST Base Amount],\r\n      [Posting Date],\r\n      [Unit of Measure Code],\r\n      [Amount To Customer],\r\n      [TCS Nature of Collection],\r\n      [Discount Structure Code],\r\n      [Discount Structure Amount],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Scheme Parent Item No_],\r\n\t'10011' as Site_Code\r\nFROM [dbo].[BIPL - KARNATAKA$Sales Cr_Memo Line]\r\nwhere year([Posting Date]) >= 2020 \r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_],\r\n      [Type],\r\n      [No_],\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Quantity],\r\n      [Shipment Date],\r\n      [Description],\r\n      [Unit of Measure],\r\n      [Quantity (Base)],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Amount],\r\n      [Gross Weight],\r\n      [Bill-to Customer No_],\r\n      [GST Base Amount],\r\n      [Posting Date],\r\n      [Unit of Measure Code],\r\n      [Amount To Customer],\r\n      [TCS Nature of Collection],\r\n      [Discount Structure Code],\r\n      [Discount Structure Amount],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Scheme Parent Item No_],\r\n\t'10012' as Site_Code\r\nFROM [dbo].[BIPL - KERALA$Sales Cr_Memo Line]\r\nwhere year([Posting Date]) >= 2020 \r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_],\r\n      [Type],\r\n      [No_],\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Quantity],\r\n      [Shipment Date],\r\n      [Description],\r\n      [Unit of Measure],\r\n      [Quantity (Base)],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Amount],\r\n      [Gross Weight],\r\n      [Bill-to Customer No_],\r\n      [GST Base Amount],\r\n      [Posting Date],\r\n      [Unit of Measure Code],\r\n      [Amount To Customer],\r\n      [TCS Nature of Collection],\r\n      [Discount Structure Code],\r\n      [Discount Structure Amount],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Scheme Parent Item No_],\r\n\t'10013' as Site_Code\r\nFROM [dbo].[BIPL - MADHYAPRADESH$Sales Cr_Memo Line]\r\nwhere year([Posting Date]) >= 2020 \r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_],\r\n      [Type],\r\n      [No_],\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Quantity],\r\n      [Shipment Date],\r\n      [Description],\r\n      [Unit of Measure],\r\n      [Quantity (Base)],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Amount],\r\n      [Gross Weight],\r\n      [Bill-to Customer No_],\r\n      [GST Base Amount],\r\n      [Posting Date],\r\n      [Unit of Measure Code],\r\n      [Amount To Customer],\r\n      [TCS Nature of Collection],\r\n      [Discount Structure Code],\r\n      [Discount Structure Amount],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Scheme Parent Item No_],\r\n\t'10014' as Site_Code\r\nFROM [dbo].[BIPL - MUMBAI$Sales Cr_Memo Line]\r\nwhere year([Posting Date]) >= 2020 \r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_],\r\n      [Type],\r\n      [No_],\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Quantity],\r\n      [Shipment Date],\r\n      [Description],\r\n      [Unit of Measure],\r\n      [Quantity (Base)],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Amount],\r\n      [Gross Weight],\r\n      [Bill-to Customer No_],\r\n      [GST Base Amount],\r\n      [Posting Date],\r\n      [Unit of Measure Code],\r\n      [Amount To Customer],\r\n      [TCS Nature of Collection],\r\n      [Discount Structure Code],\r\n      [Discount Structure Amount],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Scheme Parent Item No_],\r\n\t'10015' as Site_Code\r\nFROM [dbo].[BIPL - ODISHA$Sales Cr_Memo Line]\r\nwhere year([Posting Date]) >= 2020 \r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_],\r\n      [Type],\r\n      [No_],\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Quantity],\r\n      [Shipment Date],\r\n      [Description],\r\n      [Unit of Measure],\r\n      [Quantity (Base)],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Amount],\r\n      [Gross Weight],\r\n      [Bill-to Customer No_],\r\n      [GST Base Amount],\r\n      [Posting Date],\r\n      [Unit of Measure Code],\r\n      [Amount To Customer],\r\n      [TCS Nature of Collection],\r\n      [Discount Structure Code],\r\n      [Discount Structure Amount],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Scheme Parent Item No_],\r\n\t'10016' as Site_Code\r\nFROM [dbo].[BIPL - PUNE$Sales Cr_Memo Line]\r\nwhere year([Posting Date]) >= 2020 \r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_],\r\n      [Type],\r\n      [No_],\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Quantity],\r\n      [Shipment Date],\r\n      [Description],\r\n      [Unit of Measure],\r\n      [Quantity (Base)],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Amount],\r\n      [Gross Weight],\r\n      [Bill-to Customer No_],\r\n      [GST Base Amount],\r\n      [Posting Date],\r\n      [Unit of Measure Code],\r\n      [Amount To Customer],\r\n      [TCS Nature of Collection],\r\n      [Discount Structure Code],\r\n      [Discount Structure Amount],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Scheme Parent Item No_],\r\n\t'10017' as Site_Code\r\nFROM [dbo].[BIPL - PUNJAB$Sales Cr_Memo Line]\r\nwhere year([Posting Date]) >= 2020 \r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_],\r\n      [Type],\r\n      [No_],\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Quantity],\r\n      [Shipment Date],\r\n      [Description],\r\n      [Unit of Measure],\r\n      [Quantity (Base)],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Amount],\r\n      [Gross Weight],\r\n      [Bill-to Customer No_],\r\n      [GST Base Amount],\r\n      [Posting Date],\r\n      [Unit of Measure Code],\r\n      [Amount To Customer],\r\n      [TCS Nature of Collection],\r\n      [Discount Structure Code],\r\n      [Discount Structure Amount],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Scheme Parent Item No_],\r\n\t'10018' as Site_Code\r\nFROM [dbo].[BIPL - RUDRAPUR$Sales Cr_Memo Line]\r\nwhere year([Posting Date]) >= 2020 \r\nUNION ALL\r\n\r\nSELECT \t[Document No_],\r\n      [Line No_],\r\n      [Type],\r\n      [No_],\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Quantity],\r\n      [Shipment Date],\r\n      [Description],\r\n      [Unit of Measure],\r\n      [Quantity (Base)],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Amount],\r\n      [Gross Weight],\r\n      [Bill-to Customer No_],\r\n      [GST Base Amount],\r\n      [Posting Date],\r\n      [Unit of Measure Code],\r\n      [Amount To Customer],\r\n      [TCS Nature of Collection],\r\n      [Discount Structure Code],\r\n      [Discount Structure Amount],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Scheme Parent Item No_],\r\n\t'10019' as Site_Code\r\nFROM [dbo].[BIPL – SAHIBABAD$Sales Cr_Memo Line]\r\nwhere year([Posting Date]) >= 2020 \r\nUNION ALL\r\nSELECT \t[Document No_],\r\n      [Line No_],\r\n      [Type],\r\n      [No_],\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Quantity],\r\n      [Shipment Date],\r\n      [Description],\r\n      [Unit of Measure],\r\n      [Quantity (Base)],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Amount],\r\n      [Gross Weight],\r\n      [Bill-to Customer No_],\r\n      [GST Base Amount],\r\n      [Posting Date],\r\n      [Unit of Measure Code],\r\n      [Amount To Customer],\r\n      [TCS Nature of Collection],\r\n      [Discount Structure Code],\r\n      [Discount Structure Amount],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Scheme Parent Item No_],\r\n\t'10020' as Site_Code\r\nFROM [dbo].[BIPL - TELANGANA$Sales Cr_Memo Line]\r\nwhere year([Posting Date]) >= 2020 \r\nUNION ALL\r\nSELECT \r\n\t[Document No_],\r\n      [Line No_],\r\n      [Type],\r\n      [No_],\r\n      [Sell-to Customer No_],\r\n      [Location Code],\r\n      [Quantity],\r\n      [Shipment Date],\r\n      [Description],\r\n      [Unit of Measure],\r\n      [Quantity (Base)],\r\n      [Unit Price],\r\n      [Unit Cost (LCY)],\r\n      [Amount],\r\n      [Gross Weight],\r\n      [Bill-to Customer No_],\r\n      [GST Base Amount],\r\n      [Posting Date],\r\n      [Unit of Measure Code],\r\n      [Amount To Customer],\r\n      [TCS Nature of Collection],\r\n      [Discount Structure Code],\r\n      [Discount Structure Amount],\r\n      [Scheme Reason],\r\n      [Scheme Code],\r\n      [Scheme Parent Item No_],\r\n\t'10021' as Site_Code\r\nFROM [dbo].[BIPL - WESTBENGAL$Sales Cr_Memo Line]\r\nwhere year([Posting Date]) >= 2020\r\n),\r\n\r\n\r\n\r\n\r\n\r\ncte2 as(\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Location Code],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10001' as Site_Code\r\nFROM [dbo].[BIPL - ANDHRA PRADESH$Sales Cr_Memo Header]\r\nwhere year([Posting Date]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Location Code],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10002' as Site_Code\r\nFROM [dbo].[BIPL - CHENNAI$Sales Cr_Memo Header]\r\nwhere year([Posting Date]) >= 2020 \r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Location Code],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10003' as Site_Code\r\nFROM [dbo].[BIPL - CHHATTISGARH$Sales Cr_Memo Header]\r\nwhere year([Posting Date]) >= 2020 \r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Location Code],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10004' as Site_Code\r\nFROM [dbo].[BIPL - DELHI$Sales Cr_Memo Header]\r\nwhere year([Posting Date]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Location Code],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10005' as Site_Code\r\nFROM [dbo].[BIPL - GOA$Sales Cr_Memo Header]\r\nwhere year([Posting Date]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Location Code],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10006' as Site_Code\r\nFROM [dbo].[BIPL - GUJARAT$Sales Cr_Memo Header]\r\nwhere year([Posting Date]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Location Code],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10007' as Site_Code\r\nFROM [dbo].[BIPL - HARYANA$Sales Cr_Memo Header]\r\nwhere year([Posting Date]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Location Code],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10009' as Site_Code\r\nFROM [dbo].[BIPL - JAIPUR$Sales Cr_Memo Header]\r\nwhere year([Posting Date]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Location Code],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10010' as Site_Code\r\nFROM [dbo].[BIPL - KAMSHET$Sales Cr_Memo Header]\r\nwhere year([Posting Date]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Location Code],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10011' as Site_Code\r\nFROM [dbo].[BIPL - KARNATAKA$Sales Cr_Memo Header]\r\nwhere year([Posting Date]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Location Code],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10012' as Site_Code\r\nFROM [dbo].[BIPL - KERALA$Sales Cr_Memo Header]\r\nwhere year([Posting Date]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Location Code],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10013' as Site_Code\r\nFROM [dbo].[BIPL - MADHYAPRADESH$Sales Cr_Memo Header]\r\nwhere year([Posting Date]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Location Code],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10014' as Site_Code\r\nFROM [dbo].[BIPL - MUMBAI$Sales Cr_Memo Header]\r\nwhere year([Posting Date]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Location Code],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10015' as Site_Code\r\nFROM [dbo].[BIPL - ODISHA$Sales Cr_Memo Header]\r\nwhere year([Posting Date]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Location Code],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10016' as Site_Code\r\nFROM [dbo].[BIPL - PUNE$Sales Cr_Memo Header]\r\nwhere year([Posting Date]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Location Code],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10017' as Site_Code\r\nFROM [dbo].[BIPL - PUNJAB$Sales Cr_Memo Header]\r\nwhere year([Posting Date]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Location Code],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10018' as Site_Code\r\nFROM [dbo].[BIPL - RUDRAPUR$Sales Cr_Memo Header]\r\nwhere year([Posting Date]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Location Code],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10019' as Site_Code\r\nFROM [dbo].[BIPL – SAHIBABAD$Sales Cr_Memo Header]\r\nwhere year([Posting Date]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Location Code],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10020' as Site_Code\r\nFROM [dbo].[BIPL - TELANGANA$Sales Cr_Memo Header]\r\nwhere year([Posting Date]) >= 2020\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Location Code],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'10021' as Site_Code\r\nFROM [dbo].[BIPL - WESTBENGAL$Sales Cr_Memo Header]\r\nwhere year([Posting Date]) >= 2020\r\n),\r\ncte3 as (\r\nselect a.* From cte a left join cte2 b on a.[Document No_]=b.No_ and a.Site_Code = b.Site_Code\r\n)\r\n\r\nselect * From cte3\r\n\r\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": "drop table Sales_Cr_Memo_Line",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerTable7",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SqlServerTable8",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Sales_shipment_header_incremental_load",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Sales_shipment_header_full_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "\nselect a.* from [dbo].[Sales_Cr_Memo_Line] a left join [dbo].[watermarkscml] b on a.Site_Code = b.Site_Code \nwhere a.[Posting Date] > b.Last_Modified_On",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerTable9",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Stage1_Dump_in_ADLS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "list_of_files",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Sales_shipment_header_incremental_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText4",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "get_all_files_lastmodified",
				"description": "get all files lastmodified and use latest file to dump in a temp csv filr.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "list_of_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('list_of_files').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "get_lastmodified_of_all_files",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Get_All_Files_Dataset",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "get_lastmodified_of_all_files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('get_lastmodified_of_all_files').output.lastModified, variables('refdatetime'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "refdatetime",
											"value": {
												"value": "@activity('get_lastmodified_of_all_files').output.lastModified",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable2",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set variable1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "latestfile",
											"value": {
												"value": "@activity('get_lastmodified_of_all_files').output.itemName",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "copying_data_from_adls_to_temp_file",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get_all_files_lastmodified",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Get_All_Files_Dataset",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('latestfile')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText5",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "copying_data_from_adls_to_temp_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Stage2_Incremental_Sales_Cr_Memo_Line_DF",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"latestfile": {
				"type": "String"
			},
			"refdatetime": {
				"type": "String",
				"defaultValue": "1900-01-01 00:00:00"
			}
		},
		"annotations": []
	}
}