pipeline/Stage1_2_Target_Incremental_load.json
{
	"name": "Stage1_2_Target_Incremental_load",
	"properties": {
		"activities": [
			{
				"name": "Sales_shipment_header_full_load",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": " SELECT\r\n        [Customer No_],\r\n        [Route Code],\r\n        [Customer Group Code],\r\n        [Item No_],\r\n        [Start Date],\r\n        [DLP Target Qty],\r\n        [Target Qty],\r\n        [End Date],\r\n        [Item Unit of Measure],\r\n        [Pack Group Code],\r\n        [Month],\r\n        [Year],\r\n        [Last Modified],\r\n        [Pack Title],\r\n\t'10001' as Site_Code\r\nFROM [dbo].[BIPL - ANDHRA PRADESH$Cust Target]\r\nwhere  [Year] =2021 AND [Month]>=2\r\nUNION ALL\r\nSELECT\r\n        [Customer No_],\r\n        [Route Code],\r\n        [Customer Group Code],\r\n        [Item No_],\r\n        [Start Date],\r\n        [DLP Target Qty],\r\n        [Target Qty],\r\n        [End Date],\r\n        [Item Unit of Measure],\r\n        [Pack Group Code],\r\n        [Month],\r\n        [Year],\r\n        [Last Modified],\r\n        [Pack Title],\r\n\t   '10002' as Site_Code\r\nFROM [dbo].[BIPL - CHENNAI$Cust Target]\r\nwhere  [Year] =2021 AND [Month]>=2\r\nUNION ALL\r\nSELECT\r\n        [Customer No_],\r\n        [Route Code],\r\n        [Customer Group Code],\r\n        [Item No_],\r\n        [Start Date],\r\n        [DLP Target Qty],\r\n        [Target Qty],\r\n        [End Date],\r\n        [Item Unit of Measure],\r\n        [Pack Group Code],\r\n        [Month],\r\n        [Year],\r\n        [Last Modified],\r\n        [Pack Title],\r\n   \t'10003' as Site_Code\r\nFROM [dbo].[BIPL - CHHATTISGARH$Cust Target]\r\nwhere  [Year] =2021 AND [Month]>=2\r\nUNION ALL\r\nSELECT\r\n        [Customer No_],\r\n        [Route Code],\r\n        [Customer Group Code],\r\n        [Item No_],\r\n        [Start Date],\r\n        [DLP Target Qty],\r\n        [Target Qty],\r\n        [End Date],\r\n        [Item Unit of Measure],\r\n        [Pack Group Code],\r\n        [Month],\r\n        [Year],\r\n        [Last Modified],\r\n        [Pack Title],\r\n\t'10004' as Site_Code\r\nFROM [dbo].[BIPL - DELHI$Cust Target]\r\nwhere  [Year] =2021 AND [Month]>=2\r\nUNION ALL\r\nSELECT\r\n        [Customer No_],\r\n        [Route Code],\r\n        [Customer Group Code],\r\n        [Item No_],\r\n        [Start Date],\r\n        [DLP Target Qty],\r\n        [Target Qty],\r\n        [End Date],\r\n        [Item Unit of Measure],\r\n        [Pack Group Code],\r\n        [Month],\r\n        [Year],\r\n        [Last Modified],\r\n        [Pack Title],\r\n\t'10005' as Site_Code\r\nFROM [dbo].[BIPL - GOA$Cust Target]\r\nwhere  [Year] =2021 AND [Month]>=2\r\nUNION ALL\r\nSELECT\r\n        [Customer No_],\r\n        [Route Code],\r\n        [Customer Group Code],\r\n        [Item No_],\r\n        [Start Date],\r\n        [DLP Target Qty],\r\n        [Target Qty],\r\n        [End Date],\r\n        [Item Unit of Measure],\r\n        [Pack Group Code],\r\n        [Month],\r\n        [Year],\r\n        [Last Modified],\r\n        [Pack Title],\r\n\t'10006' as Site_Code\r\nFROM [dbo].[BIPL - GUJARAT$Cust Target]\r\nwhere  [Year] =2021 AND [Month]>=2\r\nUNION ALL\r\nSELECT\r\n        [Customer No_],\r\n        [Route Code],\r\n        [Customer Group Code],\r\n        [Item No_],\r\n        [Start Date],\r\n        [DLP Target Qty],\r\n        [Target Qty],\r\n        [End Date],\r\n        [Item Unit of Measure],\r\n        [Pack Group Code],\r\n        [Month],\r\n        [Year],\r\n        [Last Modified],\r\n        [Pack Title],\r\n\t'10007' as Site_Code\r\nFROM [dbo].[BIPL - HARYANA$Cust Target]\r\nwhere  [Year] =2021 AND [Month]>=2\r\nUNION ALL\r\nSELECT\r\n        [Customer No_],\r\n        [Route Code],\r\n        [Customer Group Code],\r\n        [Item No_],\r\n        [Start Date],\r\n        [DLP Target Qty],\r\n        [Target Qty],\r\n        [End Date],\r\n        [Item Unit of Measure],\r\n        [Pack Group Code],\r\n        [Month],\r\n        [Year],\r\n        [Last Modified],\r\n        [Pack Title],\r\n\t'10009' as Site_Code\r\nFROM [dbo].[BIPL - JAIPUR$Cust Target]\r\nwhere  [Year] =2021 AND [Month]>=2\r\nUNION ALL\r\nSELECT\r\n        [Customer No_],\r\n        [Route Code],\r\n        [Customer Group Code],\r\n        [Item No_],\r\n        [Start Date],\r\n        [DLP Target Qty],\r\n        [Target Qty],\r\n        [End Date],\r\n        [Item Unit of Measure],\r\n        [Pack Group Code],\r\n        [Month],\r\n        [Year],\r\n        [Last Modified],\r\n        [Pack Title],\r\n\t'10010' as Site_Code\r\nFROM [dbo].[BIPL - KAMSHET$Cust Target]\r\nwhere  [Year] =2021 AND [Month]>=2\r\nUNION ALL\r\nSELECT\r\n        [Customer No_],\r\n        [Route Code],\r\n        [Customer Group Code],\r\n        [Item No_],\r\n        [Start Date],\r\n        [DLP Target Qty],\r\n        [Target Qty],\r\n        [End Date],\r\n        [Item Unit of Measure],\r\n        [Pack Group Code],\r\n        [Month],\r\n        [Year],\r\n        [Last Modified],\r\n        [Pack Title],\r\n\t'10011' as Site_Code\r\nFROM [dbo].[BIPL - KARNATAKA$Cust Target]\r\nwhere  [Year] =2021 AND [Month]>=2\r\nUNION ALL\r\nSELECT\r\n        [Customer No_],\r\n        [Route Code],\r\n        [Customer Group Code],\r\n        [Item No_],\r\n        [Start Date],\r\n        [DLP Target Qty],\r\n        [Target Qty],\r\n        [End Date],\r\n        [Item Unit of Measure],\r\n        [Pack Group Code],\r\n        [Month],\r\n        [Year],\r\n        [Last Modified],\r\n        [Pack Title],\r\n\t'10012' as Site_Code\r\nFROM [dbo].[BIPL - KERALA$Cust Target]\r\nwhere  [Year] =2021 AND [Month]>=2\r\nUNION ALL\r\nSELECT\r\n        [Customer No_],\r\n        [Route Code],\r\n        [Customer Group Code],\r\n        [Item No_],\r\n        [Start Date],\r\n        [DLP Target Qty],\r\n        [Target Qty],\r\n        [End Date],\r\n        [Item Unit of Measure],\r\n        [Pack Group Code],\r\n        [Month],\r\n        [Year],\r\n        [Last Modified],\r\n        [Pack Title],\r\n\t'10013' as Site_Code\r\nFROM [dbo].[BIPL - MADHYAPRADESH$Cust Target]\r\nwhere  [Year] =2021 AND [Month]>=2\r\nUNION ALL\r\nSELECT\r\n        [Customer No_],\r\n        [Route Code],\r\n        [Customer Group Code],\r\n        [Item No_],\r\n        [Start Date],\r\n        [DLP Target Qty],\r\n        [Target Qty],\r\n        [End Date],\r\n        [Item Unit of Measure],\r\n        [Pack Group Code],\r\n        [Month],\r\n        [Year],\r\n        [Last Modified],\r\n        [Pack Title],\r\n\t'10014' as Site_Code\r\nFROM [dbo].[BIPL - MUMBAI$Cust Target]\r\nwhere  [Year] =2021 AND [Month]>=2\r\nUNION ALL\r\nSELECT\r\n        [Customer No_],\r\n        [Route Code],\r\n        [Customer Group Code],\r\n        [Item No_],\r\n        [Start Date],\r\n        [DLP Target Qty],\r\n        [Target Qty],\r\n        [End Date],\r\n        [Item Unit of Measure],\r\n        [Pack Group Code],\r\n        [Month],\r\n        [Year],\r\n        [Last Modified],\r\n        [Pack Title],\r\n\t'10015' as Site_Code\r\nFROM [dbo].[BIPL - ODISHA$Cust Target]\r\nwhere  [Year] =2021 AND [Month]>=2\r\nUNION ALL\r\nSELECT\r\n        [Customer No_],\r\n        [Route Code],\r\n        [Customer Group Code],\r\n        [Item No_],\r\n        [Start Date],\r\n        [DLP Target Qty],\r\n        [Target Qty],\r\n        [End Date],\r\n        [Item Unit of Measure],\r\n        [Pack Group Code],\r\n        [Month],\r\n        [Year],\r\n        [Last Modified],\r\n        [Pack Title],\r\n\t'10016' as Site_Code\r\nFROM [dbo].[BIPL - PUNE$Cust Target]\r\nwhere  [Year] =2021 AND [Month]>=2\r\nUNION ALL\r\nSELECT\r\n        [Customer No_],\r\n        [Route Code],\r\n        [Customer Group Code],\r\n        [Item No_],\r\n        [Start Date],\r\n        [DLP Target Qty],\r\n        [Target Qty],\r\n        [End Date],\r\n        [Item Unit of Measure],\r\n        [Pack Group Code],\r\n        [Month],\r\n        [Year],\r\n        [Last Modified],\r\n        [Pack Title],\r\n\t'10017' as Site_Code\r\nFROM [dbo].[BIPL - PUNJAB$Cust Target]\r\nwhere  [Year] =2021 AND [Month]>=2\r\nUNION ALL\r\nSELECT\r\n        [Customer No_],\r\n        [Route Code],\r\n        [Customer Group Code],\r\n        [Item No_],\r\n        [Start Date],\r\n        [DLP Target Qty],\r\n        [Target Qty],\r\n        [End Date],\r\n        [Item Unit of Measure],\r\n        [Pack Group Code],\r\n        [Month],\r\n        [Year],\r\n        [Last Modified],\r\n        [Pack Title],\r\n\t'10018' as Site_Code\r\nFROM [dbo].[BIPL - RUDRAPUR$Cust Target]\r\nwhere  [Year] =2021 AND [Month]>=2\r\nUNION ALL\r\nSELECT\r\n        [Customer No_],\r\n        [Route Code],\r\n        [Customer Group Code],\r\n        [Item No_],\r\n        [Start Date],\r\n        [DLP Target Qty],\r\n        [Target Qty],\r\n        [End Date],\r\n        [Item Unit of Measure],\r\n        [Pack Group Code],\r\n        [Month],\r\n        [Year],\r\n        [Last Modified],\r\n        [Pack Title],\r\n\t'10019' as Site_Code\r\nFROM [dbo].[BIPL – SAHIBABAD$Cust Target]\r\nwhere  [Year] =2021 AND [Month]>=2\r\nUNION ALL\r\nSELECT\r\n        [Customer No_],\r\n        [Route Code],\r\n        [Customer Group Code],\r\n        [Item No_],\r\n        [Start Date],\r\n        [DLP Target Qty],\r\n        [Target Qty],\r\n        [End Date],\r\n        [Item Unit of Measure],\r\n        [Pack Group Code],\r\n        [Month],\r\n        [Year],\r\n        [Last Modified],\r\n        [Pack Title],\r\n\t'10020' as Site_Code\r\nFROM [dbo].[BIPL - TELANGANA$Cust Target]\r\nwhere  [Year] =2021 AND [Month]>=2\r\nUNION ALL\r\nSELECT\r\n        [Customer No_],\r\n        [Route Code],\r\n        [Customer Group Code],\r\n        [Item No_],\r\n        [Start Date],\r\n        [DLP Target Qty],\r\n        [Target Qty],\r\n        [End Date],\r\n        [Item Unit of Measure],\r\n        [Pack Group Code],\r\n        [Month],\r\n        [Year],\r\n        [Last Modified],\r\n        [Pack Title],\r\n\t'10021' as Site_Code\r\nFROM [dbo].[BIPL - WESTBENGAL$Cust Target]\r\nwhere  [Year] =2021 AND [Month]>=2 ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": "drop table dbo.Target",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerTable10",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SqlServerTable11",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Sales_shipment_header_incremental_load",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Sales_shipment_header_full_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "\nselect a.* from [dbo].[Target] a left join [dbo].[watermarktarget] b on a.Site_Code = b.Site_Code \nwhere a.[MONTH] > b.max_month or a.[Year] > b.max_year;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerTable12",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText9",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "list_of_files",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Sales_shipment_header_incremental_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText10",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "get_all_files_lastmodified",
				"description": "get all files lastmodified and use latest file to dump in a temp csv filr.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "list_of_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('list_of_files').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "get_lastmodified_of_all_files",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DelimitedText11",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "get_lastmodified_of_all_files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('get_lastmodified_of_all_files').output.lastModified, variables('refdatetime'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "refdatetime",
											"value": {
												"value": "@activity('get_lastmodified_of_all_files').output.lastModified",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable2",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set variable1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "latestfile",
											"value": {
												"value": "@activity('get_lastmodified_of_all_files').output.itemName",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "get_all_files_lastmodified",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Stage2_Target_Incremental_Load_DF",
						"type": "DataFlowReference",
						"parameters": {
							"Contanier_Name": "'delta-lake'",
							"Folder_Name": "'Transaction/Incremental-Load/Target'",
							"latest_file": {
								"value": "'@{variables('latestfile')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"filename": {
				"type": "string"
			}
		},
		"variables": {
			"latestfile": {
				"type": "String"
			},
			"refdatetime": {
				"type": "String",
				"defaultValue": "1900-01-01 00:00:00"
			}
		},
		"annotations": []
	}
}