pipeline/Stage1_2_3_Item_Master.json
{
	"name": "Stage1_2_3_Item_Master",
	"properties": {
		"activities": [
			{
				"name": "FileName",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select \r\n\tDistinct\r\n\tTABLE_NAME\r\nfrom \r\nINFORMATION_SCHEMA.COLUMNS\r\nwhere TABLE_NAME = 'Item'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Stage1_Item_Source",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "FileName",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableName",
					"value": {
						"value": "@activity('FileName').output.firstRow.TABLE_NAME",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT \r\n\tNo_,\r\n\t[No_ 2],\r\n\t[Description],\r\n\t[Description 2],\r\n\t--replace(replace(replace([Description],',', ' '), '\"', ' '), '''', ' ') as [Description],\r\n\t--replace(replace(replace([Description 2],',', ' '), '\"', ' '), '''', ' ') as [Description 2],\r\n\t[Base Unit of Measure],\r\n\t[Item Category Code],\r\n\t[Product Group Code],\r\n\t[Selling Price],\r\n\t[Pack Size Information],\r\n\t[Pack Size],\r\n\t[2Way Item],\r\n\t[Short Name],\r\n\t[Pack Title],\r\n\t[Pack Group Code],\r\n\t[Jar Deposit],\r\n\t[Pcs Per Case],\r\n\t[Item Class],\r\n\t[FG Category],\r\n\t[Packaging Type],\r\n\t[Container Type],\r\n\t[Sub Brand],\r\n\t[SKU Category]\r\n FROM [BisleriNAV16Test].[dbo].[BIPL - MUMBAI$Item]\r\n where [Item Category Code] in ('FG', 'TRD-FG')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Stage1_Item_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Stage1_Item_Sink",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"TableName": {
				"type": "String"
			},
			"TableName2": {
				"type": "String"
			}
		},
		"annotations": []
	}
}