pipeline/Stage1_2_3_Sales_Order_Line.json
{
	"name": "Stage1_2_3_Sales_Order_Line",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select \r\n[Document No_],\r\n[Line No_],\r\n[Type],\r\n[No_],\r\n[Sell-to Customer No_],\r\n[Location Code],\r\n[Description],\r\n[Document Type],\r\n[Description 2],\r\n[Unit of Measure],\r\n[Quantity],\r\n[Outstanding Quantity],\r\n[Qty_ to Invoice],\r\n[Qty_ to Ship],\r\n[Unit Price],\r\n[Gross Weight],\r\n[Shortcut Dimension 1 Code],\r\n[Shortcut Dimension 2 Code],\r\n[Qty_ Shipped Not Invoiced],\r\n[Shipped Not Invoiced],\r\n[Quantity Shipped],\r\n[Quantity Invoiced],\r\n[Outstanding Amount (LCY)],\r\n[Shipped Not Invoiced (LCY)],\r\n--[Reserved Quantity],\r\n[Dimension Set ID],\r\n--[Posting Date],\r\n[Unit of Measure Code],\r\n[Quantity (Base)],\r\n[Outstanding Qty_ (Base)],\r\n[Item Category Code],\r\n[Amount To Customer],\r\n[GST Group Code],\r\n[GST Base Amount],\r\n[GST _],\r\n[Total GST Amount],\r\n[HSN_SAC Code],\r\n[PDA Generated],\r\n--[ECOM],\r\n'10001' as Site_Code\r\nFROM [dbo].[BIPL - ANDHRA PRADESH$Sales Line]\r\nUNION ALL\r\nSelect \r\n[Document No_],\r\n[Line No_],\r\n[Type],\r\n[No_],\r\n[Sell-to Customer No_],\r\n[Location Code],\r\n[Description],\r\n[Document Type],\r\n[Description 2],\r\n[Unit of Measure],\r\n[Quantity],\r\n[Outstanding Quantity],\r\n[Qty_ to Invoice],\r\n[Qty_ to Ship],\r\n[Unit Price],\r\n[Gross Weight],\r\n[Shortcut Dimension 1 Code],\r\n[Shortcut Dimension 2 Code],\r\n[Qty_ Shipped Not Invoiced],\r\n[Shipped Not Invoiced],\r\n[Quantity Shipped],\r\n[Quantity Invoiced],\r\n[Outstanding Amount (LCY)],\r\n[Shipped Not Invoiced (LCY)],\r\n--[Reserved Quantity],\r\n[Dimension Set ID],\r\n--[Posting Date],\r\n[Unit of Measure Code],\r\n[Quantity (Base)],\r\n[Outstanding Qty_ (Base)],\r\n[Item Category Code],\r\n[Amount To Customer],\r\n[GST Group Code],\r\n[GST Base Amount],\r\n[GST _],\r\n[Total GST Amount],\r\n[HSN_SAC Code],\r\n[PDA Generated],\r\n--[ECOM],\r\n'10002' as Site_Code\r\nFROM [dbo].[BIPL - CHENNAI$Sales Line]\r\nUNION ALL\r\nSelect \r\n[Document No_],\r\n[Line No_],\r\n[Type],\r\n[No_],\r\n[Sell-to Customer No_],\r\n[Location Code],\r\n[Description],\r\n[Document Type],\r\n[Description 2],\r\n[Unit of Measure],\r\n[Quantity],\r\n[Outstanding Quantity],\r\n[Qty_ to Invoice],\r\n[Qty_ to Ship],\r\n[Unit Price],\r\n[Gross Weight],\r\n[Shortcut Dimension 1 Code],\r\n[Shortcut Dimension 2 Code],\r\n[Qty_ Shipped Not Invoiced],\r\n[Shipped Not Invoiced],\r\n[Quantity Shipped],\r\n[Quantity Invoiced],\r\n[Outstanding Amount (LCY)],\r\n[Shipped Not Invoiced (LCY)],\r\n--[Reserved Quantity],\r\n[Dimension Set ID],\r\n--[Posting Date],\r\n[Unit of Measure Code],\r\n[Quantity (Base)],\r\n[Outstanding Qty_ (Base)],\r\n[Item Category Code],\r\n[Amount To Customer],\r\n[GST Group Code],\r\n[GST Base Amount],\r\n[GST _],\r\n[Total GST Amount],\r\n[HSN_SAC Code],\r\n[PDA Generated],\r\n--[ECOM],\r\n'10003' as Site_Code\r\nFROM [dbo].[BIPL - CHHATTISGARH$Sales Line]\r\nUNION ALL\r\nSelect \r\n[Document No_],\r\n[Line No_],\r\n[Type],\r\n[No_],\r\n[Sell-to Customer No_],\r\n[Location Code],\r\n[Description],\r\n[Document Type],\r\n[Description 2],\r\n[Unit of Measure],\r\n[Quantity],\r\n[Outstanding Quantity],\r\n[Qty_ to Invoice],\r\n[Qty_ to Ship],\r\n[Unit Price],\r\n[Gross Weight],\r\n[Shortcut Dimension 1 Code],\r\n[Shortcut Dimension 2 Code],\r\n[Qty_ Shipped Not Invoiced],\r\n[Shipped Not Invoiced],\r\n[Quantity Shipped],\r\n[Quantity Invoiced],\r\n[Outstanding Amount (LCY)],\r\n[Shipped Not Invoiced (LCY)],\r\n--[Reserved Quantity],\r\n[Dimension Set ID],\r\n--[Posting Date],\r\n[Unit of Measure Code],\r\n[Quantity (Base)],\r\n[Outstanding Qty_ (Base)],\r\n[Item Category Code],\r\n[Amount To Customer],\r\n[GST Group Code],\r\n[GST Base Amount],\r\n[GST _],\r\n[Total GST Amount],\r\n[HSN_SAC Code],\r\n[PDA Generated],\r\n--[ECOM],\r\n'10004' as Site_Code\r\nFROM [dbo].[BIPL - DELHI$Sales Line]\r\nUNION ALL\r\nSelect \r\n[Document No_],\r\n[Line No_],\r\n[Type],\r\n[No_],\r\n[Sell-to Customer No_],\r\n[Location Code],\r\n[Description],\r\n[Document Type],\r\n[Description 2],\r\n[Unit of Measure],\r\n[Quantity],\r\n[Outstanding Quantity],\r\n[Qty_ to Invoice],\r\n[Qty_ to Ship],\r\n[Unit Price],\r\n[Gross Weight],\r\n[Shortcut Dimension 1 Code],\r\n[Shortcut Dimension 2 Code],\r\n[Qty_ Shipped Not Invoiced],\r\n[Shipped Not Invoiced],\r\n[Quantity Shipped],\r\n[Quantity Invoiced],\r\n[Outstanding Amount (LCY)],\r\n[Shipped Not Invoiced (LCY)],\r\n--[Reserved Quantity],\r\n[Dimension Set ID],\r\n--[Posting Date],\r\n[Unit of Measure Code],\r\n[Quantity (Base)],\r\n[Outstanding Qty_ (Base)],\r\n[Item Category Code],\r\n[Amount To Customer],\r\n[GST Group Code],\r\n[GST Base Amount],\r\n[GST _],\r\n[Total GST Amount],\r\n[HSN_SAC Code],\r\n[PDA Generated],\r\n--[ECOM],\r\n'10004' as Site_Code\r\nFROM [dbo].[BIPL - GOA$Sales Line]\r\nUNION ALL\r\nSelect \r\n[Document No_],\r\n[Line No_],\r\n[Type],\r\n[No_],\r\n[Sell-to Customer No_],\r\n[Location Code],\r\n[Description],\r\n[Document Type],\r\n[Description 2],\r\n[Unit of Measure],\r\n[Quantity],\r\n[Outstanding Quantity],\r\n[Qty_ to Invoice],\r\n[Qty_ to Ship],\r\n[Unit Price],\r\n[Gross Weight],\r\n[Shortcut Dimension 1 Code],\r\n[Shortcut Dimension 2 Code],\r\n[Qty_ Shipped Not Invoiced],\r\n[Shipped Not Invoiced],\r\n[Quantity Shipped],\r\n[Quantity Invoiced],\r\n[Outstanding Amount (LCY)],\r\n[Shipped Not Invoiced (LCY)],\r\n--[Reserved Quantity],\r\n[Dimension Set ID],\r\n--[Posting Date],\r\n[Unit of Measure Code],\r\n[Quantity (Base)],\r\n[Outstanding Qty_ (Base)],\r\n[Item Category Code],\r\n[Amount To Customer],\r\n[GST Group Code],\r\n[GST Base Amount],\r\n[GST _],\r\n[Total GST Amount],\r\n[HSN_SAC Code],\r\n[PDA Generated],\r\n--[ECOM],\r\n'10006' as Site_Code\r\nFROM [dbo].[BIPL - GUJARAT$Sales Line]\r\nUNION ALL\r\nSelect \r\n[Document No_],\r\n[Line No_],\r\n[Type],\r\n[No_],\r\n[Sell-to Customer No_],\r\n[Location Code],\r\n[Description],\r\n[Document Type],\r\n[Description 2],\r\n[Unit of Measure],\r\n[Quantity],\r\n[Outstanding Quantity],\r\n[Qty_ to Invoice],\r\n[Qty_ to Ship],\r\n[Unit Price],\r\n[Gross Weight],\r\n[Shortcut Dimension 1 Code],\r\n[Shortcut Dimension 2 Code],\r\n[Qty_ Shipped Not Invoiced],\r\n[Shipped Not Invoiced],\r\n[Quantity Shipped],\r\n[Quantity Invoiced],\r\n[Outstanding Amount (LCY)],\r\n[Shipped Not Invoiced (LCY)],\r\n--[Reserved Quantity],\r\n[Dimension Set ID],\r\n--[Posting Date],\r\n[Unit of Measure Code],\r\n[Quantity (Base)],\r\n[Outstanding Qty_ (Base)],\r\n[Item Category Code],\r\n[Amount To Customer],\r\n[GST Group Code],\r\n[GST Base Amount],\r\n[GST _],\r\n[Total GST Amount],\r\n[HSN_SAC Code],\r\n[PDA Generated],\r\n--[ECOM],\r\n'10007' as Site_Code\r\nFROM [dbo].[BIPL - HARYANA$Sales Line]\r\nUNION ALL\r\nSelect \r\n[Document No_],\r\n[Line No_],\r\n[Type],\r\n[No_],\r\n[Sell-to Customer No_],\r\n[Location Code],\r\n[Description],\r\n[Document Type],\r\n[Description 2],\r\n[Unit of Measure],\r\n[Quantity],\r\n[Outstanding Quantity],\r\n[Qty_ to Invoice],\r\n[Qty_ to Ship],\r\n[Unit Price],\r\n[Gross Weight],\r\n[Shortcut Dimension 1 Code],\r\n[Shortcut Dimension 2 Code],\r\n[Qty_ Shipped Not Invoiced],\r\n[Shipped Not Invoiced],\r\n[Quantity Shipped],\r\n[Quantity Invoiced],\r\n[Outstanding Amount (LCY)],\r\n[Shipped Not Invoiced (LCY)],\r\n--[Reserved Quantity],\r\n[Dimension Set ID],\r\n--[Posting Date],\r\n[Unit of Measure Code],\r\n[Quantity (Base)],\r\n[Outstanding Qty_ (Base)],\r\n[Item Category Code],\r\n[Amount To Customer],\r\n[GST Group Code],\r\n[GST Base Amount],\r\n[GST _],\r\n[Total GST Amount],\r\n[HSN_SAC Code],\r\n[PDA Generated],\r\n--[ECOM],\r\n'10009' as Site_Code\r\nFROM [dbo].[BIPL - JAIPUR$Sales Line]\r\nUNION ALL\r\nSelect \r\n[Document No_],\r\n[Line No_],\r\n[Type],\r\n[No_],\r\n[Sell-to Customer No_],\r\n[Location Code],\r\n[Description],\r\n[Document Type],\r\n[Description 2],\r\n[Unit of Measure],\r\n[Quantity],\r\n[Outstanding Quantity],\r\n[Qty_ to Invoice],\r\n[Qty_ to Ship],\r\n[Unit Price],\r\n[Gross Weight],\r\n[Shortcut Dimension 1 Code],\r\n[Shortcut Dimension 2 Code],\r\n[Qty_ Shipped Not Invoiced],\r\n[Shipped Not Invoiced],\r\n[Quantity Shipped],\r\n[Quantity Invoiced],\r\n[Outstanding Amount (LCY)],\r\n[Shipped Not Invoiced (LCY)],\r\n--[Reserved Quantity],\r\n[Dimension Set ID],\r\n--[Posting Date],\r\n[Unit of Measure Code],\r\n[Quantity (Base)],\r\n[Outstanding Qty_ (Base)],\r\n[Item Category Code],\r\n[Amount To Customer],\r\n[GST Group Code],\r\n[GST Base Amount],\r\n[GST _],\r\n[Total GST Amount],\r\n[HSN_SAC Code],\r\n[PDA Generated],\r\n--[ECOM],\r\n'10010' as Site_Code\r\nFROM [dbo].[BIPL - KAMSHET$Sales Line]\r\nUNION ALL\r\nSelect \r\n[Document No_],\r\n[Line No_],\r\n[Type],\r\n[No_],\r\n[Sell-to Customer No_],\r\n[Location Code],\r\n[Description],\r\n[Document Type],\r\n[Description 2],\r\n[Unit of Measure],\r\n[Quantity],\r\n[Outstanding Quantity],\r\n[Qty_ to Invoice],\r\n[Qty_ to Ship],\r\n[Unit Price],\r\n[Gross Weight],\r\n[Shortcut Dimension 1 Code],\r\n[Shortcut Dimension 2 Code],\r\n[Qty_ Shipped Not Invoiced],\r\n[Shipped Not Invoiced],\r\n[Quantity Shipped],\r\n[Quantity Invoiced],\r\n[Outstanding Amount (LCY)],\r\n[Shipped Not Invoiced (LCY)],\r\n--[Reserved Quantity],\r\n[Dimension Set ID],\r\n--[Posting Date],\r\n[Unit of Measure Code],\r\n[Quantity (Base)],\r\n[Outstanding Qty_ (Base)],\r\n[Item Category Code],\r\n[Amount To Customer],\r\n[GST Group Code],\r\n[GST Base Amount],\r\n[GST _],\r\n[Total GST Amount],\r\n[HSN_SAC Code],\r\n[PDA Generated],\r\n--[ECOM],\r\n'10011' as Site_Code\r\nFROM [dbo].[BIPL - KARNATAKA$Sales Line]\r\nUNION ALL\r\nSelect \r\n[Document No_],\r\n[Line No_],\r\n[Type],\r\n[No_],\r\n[Sell-to Customer No_],\r\n[Location Code],\r\n[Description],\r\n[Document Type],\r\n[Description 2],\r\n[Unit of Measure],\r\n[Quantity],\r\n[Outstanding Quantity],\r\n[Qty_ to Invoice],\r\n[Qty_ to Ship],\r\n[Unit Price],\r\n[Gross Weight],\r\n[Shortcut Dimension 1 Code],\r\n[Shortcut Dimension 2 Code],\r\n[Qty_ Shipped Not Invoiced],\r\n[Shipped Not Invoiced],\r\n[Quantity Shipped],\r\n[Quantity Invoiced],\r\n[Outstanding Amount (LCY)],\r\n[Shipped Not Invoiced (LCY)],\r\n--[Reserved Quantity],\r\n[Dimension Set ID],\r\n--[Posting Date],\r\n[Unit of Measure Code],\r\n[Quantity (Base)],\r\n[Outstanding Qty_ (Base)],\r\n[Item Category Code],\r\n[Amount To Customer],\r\n[GST Group Code],\r\n[GST Base Amount],\r\n[GST _],\r\n[Total GST Amount],\r\n[HSN_SAC Code],\r\n[PDA Generated],\r\n--[ECOM],\r\n'10012' as Site_Code\r\nFROM [dbo].[BIPL - KERALA$Sales Line]\r\nUNION ALL\r\nSelect \r\n[Document No_],\r\n[Line No_],\r\n[Type],\r\n[No_],\r\n[Sell-to Customer No_],\r\n[Location Code],\r\n[Description],\r\n[Document Type],\r\n[Description 2],\r\n[Unit of Measure],\r\n[Quantity],\r\n[Outstanding Quantity],\r\n[Qty_ to Invoice],\r\n[Qty_ to Ship],\r\n[Unit Price],\r\n[Gross Weight],\r\n[Shortcut Dimension 1 Code],\r\n[Shortcut Dimension 2 Code],\r\n[Qty_ Shipped Not Invoiced],\r\n[Shipped Not Invoiced],\r\n[Quantity Shipped],\r\n[Quantity Invoiced],\r\n[Outstanding Amount (LCY)],\r\n[Shipped Not Invoiced (LCY)],\r\n--[Reserved Quantity],\r\n[Dimension Set ID],\r\n--[Posting Date],\r\n[Unit of Measure Code],\r\n[Quantity (Base)],\r\n[Outstanding Qty_ (Base)],\r\n[Item Category Code],\r\n[Amount To Customer],\r\n[GST Group Code],\r\n[GST Base Amount],\r\n[GST _],\r\n[Total GST Amount],\r\n[HSN_SAC Code],\r\n[PDA Generated],\r\n--[ECOM],\r\n'10013' as Site_Code\r\nFROM [dbo].[BIPL - MADHYAPRADESH$Sales Line]\r\nUNION ALL\r\nSelect \r\n[Document No_],\r\n[Line No_],\r\n[Type],\r\n[No_],\r\n[Sell-to Customer No_],\r\n[Location Code],\r\n[Description],\r\n[Document Type],\r\n[Description 2],\r\n[Unit of Measure],\r\n[Quantity],\r\n[Outstanding Quantity],\r\n[Qty_ to Invoice],\r\n[Qty_ to Ship],\r\n[Unit Price],\r\n[Gross Weight],\r\n[Shortcut Dimension 1 Code],\r\n[Shortcut Dimension 2 Code],\r\n[Qty_ Shipped Not Invoiced],\r\n[Shipped Not Invoiced],\r\n[Quantity Shipped],\r\n[Quantity Invoiced],\r\n[Outstanding Amount (LCY)],\r\n[Shipped Not Invoiced (LCY)],\r\n--[Reserved Quantity],\r\n[Dimension Set ID],\r\n--[Posting Date],\r\n[Unit of Measure Code],\r\n[Quantity (Base)],\r\n[Outstanding Qty_ (Base)],\r\n[Item Category Code],\r\n[Amount To Customer],\r\n[GST Group Code],\r\n[GST Base Amount],\r\n[GST _],\r\n[Total GST Amount],\r\n[HSN_SAC Code],\r\n[PDA Generated],\r\n--[ECOM],\r\n'10014' as Site_Code\r\nFROM [dbo].[BIPL - MUMBAI$Sales Line]\r\nUNION ALL\r\nSelect \r\n[Document No_],\r\n[Line No_],\r\n[Type],\r\n[No_],\r\n[Sell-to Customer No_],\r\n[Location Code],\r\n[Description],\r\n[Document Type],\r\n[Description 2],\r\n[Unit of Measure],\r\n[Quantity],\r\n[Outstanding Quantity],\r\n[Qty_ to Invoice],\r\n[Qty_ to Ship],\r\n[Unit Price],\r\n[Gross Weight],\r\n[Shortcut Dimension 1 Code],\r\n[Shortcut Dimension 2 Code],\r\n[Qty_ Shipped Not Invoiced],\r\n[Shipped Not Invoiced],\r\n[Quantity Shipped],\r\n[Quantity Invoiced],\r\n[Outstanding Amount (LCY)],\r\n[Shipped Not Invoiced (LCY)],\r\n--[Reserved Quantity],\r\n[Dimension Set ID],\r\n--[Posting Date],\r\n[Unit of Measure Code],\r\n[Quantity (Base)],\r\n[Outstanding Qty_ (Base)],\r\n[Item Category Code],\r\n[Amount To Customer],\r\n[GST Group Code],\r\n[GST Base Amount],\r\n[GST _],\r\n[Total GST Amount],\r\n[HSN_SAC Code],\r\n[PDA Generated],\r\n--[ECOM],\r\n'10015' as Site_Code\r\nFROM [dbo].[BIPL - ODISHA$Sales Line]\r\nUNION ALL\r\nSelect \r\n[Document No_],\r\n[Line No_],\r\n[Type],\r\n[No_],\r\n[Sell-to Customer No_],\r\n[Location Code],\r\n[Description],\r\n[Document Type],\r\n[Description 2],\r\n[Unit of Measure],\r\n[Quantity],\r\n[Outstanding Quantity],\r\n[Qty_ to Invoice],\r\n[Qty_ to Ship],\r\n[Unit Price],\r\n[Gross Weight],\r\n[Shortcut Dimension 1 Code],\r\n[Shortcut Dimension 2 Code],\r\n[Qty_ Shipped Not Invoiced],\r\n[Shipped Not Invoiced],\r\n[Quantity Shipped],\r\n[Quantity Invoiced],\r\n[Outstanding Amount (LCY)],\r\n[Shipped Not Invoiced (LCY)],\r\n--[Reserved Quantity],\r\n[Dimension Set ID],\r\n--[Posting Date],\r\n[Unit of Measure Code],\r\n[Quantity (Base)],\r\n[Outstanding Qty_ (Base)],\r\n[Item Category Code],\r\n[Amount To Customer],\r\n[GST Group Code],\r\n[GST Base Amount],\r\n[GST _],\r\n[Total GST Amount],\r\n[HSN_SAC Code],\r\n[PDA Generated],\r\n--[ECOM],\r\n'10016' as Site_Code\r\nFROM [dbo].[BIPL - PUNE$Sales Line]\r\nUNION ALL\r\nSelect \r\n[Document No_],\r\n[Line No_],\r\n[Type],\r\n[No_],\r\n[Sell-to Customer No_],\r\n[Location Code],\r\n[Description],\r\n[Document Type],\r\n[Description 2],\r\n[Unit of Measure],\r\n[Quantity],\r\n[Outstanding Quantity],\r\n[Qty_ to Invoice],\r\n[Qty_ to Ship],\r\n[Unit Price],\r\n[Gross Weight],\r\n[Shortcut Dimension 1 Code],\r\n[Shortcut Dimension 2 Code],\r\n[Qty_ Shipped Not Invoiced],\r\n[Shipped Not Invoiced],\r\n[Quantity Shipped],\r\n[Quantity Invoiced],\r\n[Outstanding Amount (LCY)],\r\n[Shipped Not Invoiced (LCY)],\r\n--[Reserved Quantity],\r\n[Dimension Set ID],\r\n--[Posting Date],\r\n[Unit of Measure Code],\r\n[Quantity (Base)],\r\n[Outstanding Qty_ (Base)],\r\n[Item Category Code],\r\n[Amount To Customer],\r\n[GST Group Code],\r\n[GST Base Amount],\r\n[GST _],\r\n[Total GST Amount],\r\n[HSN_SAC Code],\r\n[PDA Generated],\r\n--[ECOM],\r\n'10017' as Site_Code\r\nFROM [dbo].[BIPL - PUNJAB$Sales Line]\r\nUNION ALL\r\nSelect \r\n[Document No_],\r\n[Line No_],\r\n[Type],\r\n[No_],\r\n[Sell-to Customer No_],\r\n[Location Code],\r\n[Description],\r\n[Document Type],\r\n[Description 2],\r\n[Unit of Measure],\r\n[Quantity],\r\n[Outstanding Quantity],\r\n[Qty_ to Invoice],\r\n[Qty_ to Ship],\r\n[Unit Price],\r\n[Gross Weight],\r\n[Shortcut Dimension 1 Code],\r\n[Shortcut Dimension 2 Code],\r\n[Qty_ Shipped Not Invoiced],\r\n[Shipped Not Invoiced],\r\n[Quantity Shipped],\r\n[Quantity Invoiced],\r\n[Outstanding Amount (LCY)],\r\n[Shipped Not Invoiced (LCY)],\r\n--[Reserved Quantity],\r\n[Dimension Set ID],\r\n--[Posting Date],\r\n[Unit of Measure Code],\r\n[Quantity (Base)],\r\n[Outstanding Qty_ (Base)],\r\n[Item Category Code],\r\n[Amount To Customer],\r\n[GST Group Code],\r\n[GST Base Amount],\r\n[GST _],\r\n[Total GST Amount],\r\n[HSN_SAC Code],\r\n[PDA Generated],\r\n--[ECOM],\r\n'10018' as Site_Code\r\nFROM [dbo].[BIPL - RUDRAPUR$Sales Line]\r\nUNION ALL\r\nSelect \r\n[Document No_],\r\n[Line No_],\r\n[Type],\r\n[No_],\r\n[Sell-to Customer No_],\r\n[Location Code],\r\n[Description],\r\n[Document Type],\r\n[Description 2],\r\n[Unit of Measure],\r\n[Quantity],\r\n[Outstanding Quantity],\r\n[Qty_ to Invoice],\r\n[Qty_ to Ship],\r\n[Unit Price],\r\n[Gross Weight],\r\n[Shortcut Dimension 1 Code],\r\n[Shortcut Dimension 2 Code],\r\n[Qty_ Shipped Not Invoiced],\r\n[Shipped Not Invoiced],\r\n[Quantity Shipped],\r\n[Quantity Invoiced],\r\n[Outstanding Amount (LCY)],\r\n[Shipped Not Invoiced (LCY)],\r\n--[Reserved Quantity],\r\n[Dimension Set ID],\r\n--[Posting Date],\r\n[Unit of Measure Code],\r\n[Quantity (Base)],\r\n[Outstanding Qty_ (Base)],\r\n[Item Category Code],\r\n[Amount To Customer],\r\n[GST Group Code],\r\n[GST Base Amount],\r\n[GST _],\r\n[Total GST Amount],\r\n[HSN_SAC Code],\r\n[PDA Generated],\r\n--[ECOM],\r\n'10019' as Site_Code\r\nFROM [dbo].[BIPL – SAHIBABAD$Sales Line]\r\nUNION ALL\r\nSelect \r\n[Document No_],\r\n[Line No_],\r\n[Type],\r\n[No_],\r\n[Sell-to Customer No_],\r\n[Location Code],\r\n[Description],\r\n[Document Type],\r\n[Description 2],\r\n[Unit of Measure],\r\n[Quantity],\r\n[Outstanding Quantity],\r\n[Qty_ to Invoice],\r\n[Qty_ to Ship],\r\n[Unit Price],\r\n[Gross Weight],\r\n[Shortcut Dimension 1 Code],\r\n[Shortcut Dimension 2 Code],\r\n[Qty_ Shipped Not Invoiced],\r\n[Shipped Not Invoiced],\r\n[Quantity Shipped],\r\n[Quantity Invoiced],\r\n[Outstanding Amount (LCY)],\r\n[Shipped Not Invoiced (LCY)],\r\n--[Reserved Quantity],\r\n[Dimension Set ID],\r\n--[Posting Date],\r\n[Unit of Measure Code],\r\n[Quantity (Base)],\r\n[Outstanding Qty_ (Base)],\r\n[Item Category Code],\r\n[Amount To Customer],\r\n[GST Group Code],\r\n[GST Base Amount],\r\n[GST _],\r\n[Total GST Amount],\r\n[HSN_SAC Code],\r\n[PDA Generated],\r\n--[ECOM],\r\n'10020' as Site_Code\r\nFROM [dbo].[BIPL - TELANGANA$Sales Line]\r\nUNION ALL\r\nSelect \r\n[Document No_],\r\n[Line No_],\r\n[Type],\r\n[No_],\r\n[Sell-to Customer No_],\r\n[Location Code],\r\n[Description],\r\n[Document Type],\r\n[Description 2],\r\n[Unit of Measure],\r\n[Quantity],\r\n[Outstanding Quantity],\r\n[Qty_ to Invoice],\r\n[Qty_ to Ship],\r\n[Unit Price],\r\n[Gross Weight],\r\n[Shortcut Dimension 1 Code],\r\n[Shortcut Dimension 2 Code],\r\n[Qty_ Shipped Not Invoiced],\r\n[Shipped Not Invoiced],\r\n[Quantity Shipped],\r\n[Quantity Invoiced],\r\n[Outstanding Amount (LCY)],\r\n[Shipped Not Invoiced (LCY)],\r\n--[Reserved Quantity],\r\n[Dimension Set ID],\r\n--[Posting Date],\r\n[Unit of Measure Code],\r\n[Quantity (Base)],\r\n[Outstanding Qty_ (Base)],\r\n[Item Category Code],\r\n[Amount To Customer],\r\n[GST Group Code],\r\n[GST Base Amount],\r\n[GST _],\r\n[Total GST Amount],\r\n[HSN_SAC Code],\r\n[PDA Generated],\r\n--[ECOM],\r\n'10021' as Site_Code\r\nFROM [dbo].[BIPL - WESTBENGAL$Sales Line]\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Stage1_Sales_Order_Line",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Stage1_Sales_Order_Line_Sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "FileName",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select \r\n    Distinct\r\n    Left(RIGHT(TABLE_NAME, 10),11) as TABLE_NAME\r\nfrom INFORMATION_SCHEMA.COLUMNS\r\nwhere TABLE_NAME like '%Sales Line'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Stage1_Sales_Order_Line",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableName",
					"value": {
						"value": "@activity('FileName').output.firstRow.TABLE_NAME\n\n",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}