pipeline/Stage1_SSH_Incre_Load.json
{
	"name": "Stage1_SSH_Incre_Load",
	"properties": {
		"activities": [
			{
				"name": "LookupNewWaterMarkActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "with cte as \r\n(\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'AP' as Site_Code\r\nFROM [dbo].[BIPL - ANDHRA PRADESH$Sales Shipment Header]\r\nwhere year([Last Modified On]) = 2021 and month([Last Modified On]) = 09\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'CHE' as Site_Code\r\nFROM [dbo].[BIPL - CHENNAI$Sales Shipment Header]\r\nwhere year([Last Modified On]) = 2021 and month([Last Modified On]) = 09\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'CG' as Site_Code\r\nFROM [dbo].[BIPL - CHHATTISGARH$Sales Shipment Header]\r\nwhere year([Last Modified On]) = 2021 and month([Last Modified On]) = 09\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'DEL' as Site_Code\r\nFROM [dbo].[BIPL - DELHI$Sales Shipment Header]\r\nwhere year([Last Modified On]) = 2021 and month([Last Modified On]) = 09\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'GOA' as Site_Code\r\nFROM [dbo].[BIPL - GOA$Sales Shipment Header]\r\nwhere year([Last Modified On]) = 2021 and month([Last Modified On]) = 09\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'GJ' as Site_Code\r\nFROM [dbo].[BIPL - GUJARAT$Sales Shipment Header]\r\nwhere year([Last Modified On]) = 2021 and month([Last Modified On]) = 09\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'HR' as Site_Code\r\nFROM [dbo].[BIPL - HARYANA$Sales Shipment Header]\r\nwhere year([Last Modified On]) = 2021 and month([Last Modified On]) = 09\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'JP' as Site_Code\r\nFROM [dbo].[BIPL - JAIPUR$Sales Shipment Header]\r\nwhere year([Last Modified On]) = 2021 and month([Last Modified On]) = 09\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'KMST' as Site_Code\r\nFROM [dbo].[BIPL - KAMSHET$Sales Shipment Header]\r\nwhere year([Last Modified On]) = 2021 and month([Last Modified On]) = 09\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'KAR' as Site_Code\r\nFROM [dbo].[BIPL - KARNATAKA$Sales Shipment Header]\r\nwhere year([Last Modified On]) = 2021 and month([Last Modified On]) = 09\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'KR' as Site_Code\r\nFROM [dbo].[BIPL - KERALA$Sales Shipment Header]\r\nwhere year([Last Modified On]) = 2021 and month([Last Modified On]) = 09\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'MP' as Site_Code\r\nFROM [dbo].[BIPL - MADHYAPRADESH$Sales Shipment Header]\r\nwhere year([Last Modified On]) = 2021 and month([Last Modified On]) = 09\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'MUM' as Site_Code\r\nFROM [dbo].[BIPL - MUMBAI$Sales Shipment Header]\r\nwhere year([Last Modified On]) = 2021 and month([Last Modified On]) = 09\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'ODSH' as Site_Code\r\nFROM [dbo].[BIPL - ODISHA$Sales Shipment Header]\r\nwhere year([Last Modified On]) = 2021 and month([Last Modified On]) = 09\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'PUN' as Site_Code\r\nFROM [dbo].[BIPL - PUNE$Sales Shipment Header]\r\nwhere year([Last Modified On]) = 2021 and month([Last Modified On]) = 09\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'PUB' as Site_Code\r\nFROM [dbo].[BIPL - PUNJAB$Sales Shipment Header]\r\nwhere year([Last Modified On]) = 2021 and month([Last Modified On]) = 09\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'RUDR' as Site_Code\r\nFROM [dbo].[BIPL - RUDRAPUR$Sales Shipment Header]\r\nwhere year([Last Modified On]) = 2021 and month([Last Modified On]) = 09\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'SHD' as Site_Code\r\nFROM [dbo].[BIPL – SAHIBABAD$Sales Shipment Header]\r\nwhere year([Last Modified On]) = 2021 and month([Last Modified On]) = 09\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'TEL' as Site_Code\r\nFROM [dbo].[BIPL - TELANGANA$Sales Shipment Header]\r\nwhere year([Last Modified On]) = 2021 and month([Last Modified On]) = 09\r\nUNION ALL\r\nSELECT \r\n\t[No_],\r\n\t[Sell-to Customer No_],\r\n\t[Bill-to Customer No_],\r\n\t[Ship-to Code],\r\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\r\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\r\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\r\n\t[Ship-to City],\r\n\t[Posting Date],\r\n\t[Shipment Date],\r\n\t[Shipment Method Code],\r\n\t[Location Code],\r\n\t[Shortcut Dimension 1 Code],\r\n\t[Shortcut Dimension 2 Code],\r\n\t[Shipping Agent Code],\r\n\t[LR_RR No_],\r\n\t[LR_RR Date],\r\n\t[Vehicle No_],\r\n\t[Vehicle Type],\r\n\t[Route Code],\r\n\t[Customer Category],\r\n\t[Loading Slip No_],\r\n\t[AutoPDASO],\r\n\t[ECOM],\r\n\t[Last Modified On],\r\n\t'WB' as Site_Code\r\nFROM [dbo].[BIPL - WESTBENGAL$Sales Shipment Header]\r\nwhere year([Last Modified On]) = 2021 and month([Last Modified On]) = 09\r\n)\r\nSelect max([Last Modified On]) as Last_Modified_On, Site_Code from cte\r\ngroup by Site_Code \r\norder by Site_Code asc;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Stage1_Sales_Shipment_Header",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LookupOldWaterMarkActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Watermark_SSH",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Incre-Load",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupNewWaterMarkActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupOldWaterMarkActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "with cte as\n(\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'AP' as Site_Code\nFROM [dbo].[BIPL - ANDHRA PRADESH$Sales Shipment Header]\nwhere year([Last Modified On]) = 2020\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'CHE' as Site_Code\nFROM [dbo].[BIPL - CHENNAI$Sales Shipment Header]\nwhere year([Last Modified On]) = 2020\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'CG' as Site_Code\nFROM [dbo].[BIPL - CHHATTISGARH$Sales Shipment Header]\nwhere year([Last Modified On]) = 2020\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'DEL' as Site_Code\nFROM [dbo].[BIPL - DELHI$Sales Shipment Header]\nwhere year([Last Modified On]) = 2020\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'GOA' as Site_Code\nFROM [dbo].[BIPL - GOA$Sales Shipment Header]\nwhere year([Last Modified On]) = 2020\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'GJ' as Site_Code\nFROM [dbo].[BIPL - GUJARAT$Sales Shipment Header]\nwhere year([Last Modified On]) = 2020\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'HR' as Site_Code\nFROM [dbo].[BIPL - HARYANA$Sales Shipment Header]\nwhere year([Last Modified On]) = 2020\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'JP' as Site_Code\nFROM [dbo].[BIPL - JAIPUR$Sales Shipment Header]\nwhere year([Last Modified On]) = 2020\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'KMST' as Site_Code\nFROM [dbo].[BIPL - KAMSHET$Sales Shipment Header]\nwhere year([Last Modified On]) = 2020\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'KAR' as Site_Code\nFROM [dbo].[BIPL - KARNATAKA$Sales Shipment Header]\nwhere year([Last Modified On]) = 2020\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'KR' as Site_Code\nFROM [dbo].[BIPL - KERALA$Sales Shipment Header]\nwhere year([Last Modified On]) = 2020\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'MP' as Site_Code\nFROM [dbo].[BIPL - MADHYAPRADESH$Sales Shipment Header]\nwhere year([Last Modified On]) = 2020\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'MUM' as Site_Code\nFROM [dbo].[BIPL - MUMBAI$Sales Shipment Header]\nwhere year([Last Modified On]) = 2020\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'ODSH' as Site_Code\nFROM [dbo].[BIPL - ODISHA$Sales Shipment Header]\nwhere year([Last Modified On]) = 2020\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'PUN' as Site_Code\nFROM [dbo].[BIPL - PUNE$Sales Shipment Header]\nwhere year([Last Modified On]) = 2020\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'PUB' as Site_Code\nFROM [dbo].[BIPL - PUNJAB$Sales Shipment Header]\nwhere year([Last Modified On]) = 2020\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'RUDR' as Site_Code\nFROM [dbo].[BIPL - RUDRAPUR$Sales Shipment Header]\nwhere year([Last Modified On]) = 2020\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'SHD' as Site_Code\nFROM [dbo].[BIPL – SAHIBABAD$Sales Shipment Header]\nwhere year([Last Modified On]) = 2020\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'TEL' as Site_Code\nFROM [dbo].[BIPL - TELANGANA$Sales Shipment Header]\nwhere year([Last Modified On]) = 2020\nUNION ALL\nSELECT \n\t[No_],\n\t[Sell-to Customer No_],\n\t[Bill-to Customer No_],\n\t[Ship-to Code],\n\treplace([Ship-to Name],',', ' ') as [Ship-to Name],\n\treplace([Ship-to Address], ',', ' ') as [Ship-to Address],\n\treplace([Ship-to Address 2],',', ' ') as [Ship-to Address 2],\n\t[Ship-to City],\n\t[Posting Date],\n\t[Shipment Date],\n\t[Shipment Method Code],\n\t[Location Code],\n\t[Shortcut Dimension 1 Code],\n\t[Shortcut Dimension 2 Code],\n\t[Shipping Agent Code],\n\t[LR_RR No_],\n\t[LR_RR Date],\n\t[Vehicle No_],\n\t[Vehicle Type],\n\t[Route Code],\n\t[Customer Category],\n\t[Loading Slip No_],\n\t[AutoPDASO],\n\t[ECOM],\n\t[Last Modified On],\n\t'WB' as Site_Code\nFROM [dbo].[BIPL - WESTBENGAL$Sales Shipment Header]\nwhere year([Last Modified On]) = 2020\n)\nSelect * from cte \nwhere cte.Site_Code = '@{activity('LookupOldWaterMarkActivity').output.value[0].Site_Code}'\n\t and \n\t cte.[Last Modified On] > '@{activity('LookupOldWaterMarkActivity').output.value[1].Last_Modified_Date}'\n\t and \n\t cte.[Last Modified On] <= '@{activity('LookupNewWaterMarkActivity').output.value[1].Last_Modified_On}'\n\t ",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Stage1_Sales_Shipment_Header",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SSH_Incre_Folder",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Incre-Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark_ssh]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@{activity('LookupNewWaterMarkActivity').output.value[1].Last_Modified_On}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"SiteCode": {
							"value": {
								"value": "@{activity('LookupNewWaterMarkActivity').output.value[2].Site_Code}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@{activity('LookupOldWaterMarkActivity').output.value[0].TableName}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServerOnPrem",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}